[2019-02-05 14:45] mairin opened #1 "View details of one feed"
Here is the latest mockup for the screen showing the details of one feed (note that some cards in the pipelines on the bottom are minimized, some are maximized):

**Main feed details page**
![demo_feed-details_05b](https://user-images.githubusercontent.com/799683/52348746-135a7d80-29f3-11e9-87a8-e88daa62e3c7.png)

Some points:
* The main navigation mechanism within the page here is the graph. Clic

[2019-02-21 20:13] jcaianirh opened #3 "private routing protection in the Chris_Store_Ui project"
provide private routing protection for pages that require a login to view such as dashboards, etc.

We could start doing this for the store first and then the main ui

cc @rebecabkerr

[2019-03-15 19:57] jcaianirh opened #9 "Upgrade api to v1.1.4"
Upgrade to new back end api v 1.1.4 here: https://github.com/FNNDSC/fnndsc

new api:

- plugins can have same name with different versions

- modify plugin api changes

cc: @jbernal0019

[2019-04-04 19:01] jcaianirh opened #22 "Test Error: syntax error using inital state in the message reducer tests"
@xhyzzZ could you fix this. fetch the upstream master, and then rebase your code and run npm test to reproduce.

[2019-04-04 19:08] xhyzzZ commented on #22
I think it was wrong because there is no typescript syntax recogizer in package.json file, cuz i can't run npm test in my local environment too. But i can run on my former ChRIS which i write these lines：

`module.exports = {
    // look for ts files
    testMatch: ["**/*.test.(j|t)s?(x)"],
    // tells it that ts/tsx files are valid modules
    moduleFileExtensions: ["js", "json", "jsx", "node",

[2019-04-04 19:35] jcaianirh commented on #22
@xhyzzZ: The only issue is:
Expected value to equal:
      {"initialState": {"confirmation": {"confirm": {"action": "do", "data": "anytype", "label": "cat"}, "dismiss": {"action": "doit", "data": "anytype", "label": "dog"}, "text": "hi", "title": "world"}, "message": {"displayType": "modal", "message": "hello", "type": "success"}}}
    Received:
      {"confirmation": {"confirm": {"action": "do",

[2019-04-04 19:36] jcaianirh commented on #22
The error you received above is because you may not have fetched the latest code from the repo.

[2019-04-04 20:57] #22 closed

[2019-04-18 18:47] jcaianirh commented on #3
closed with this pr: https://github.com/FNNDSC/ChRIS_store_ui/pull/60

[2019-04-18 18:47] #3 closed

[2019-05-13 14:49] jcaianirh commented on #1
@mairin i think this can be closed, if there are any missing details from this issue, could you pull them out and add a new issue. otherwise this one looks complete!

[2019-05-15 18:11] #1 closed

[2019-05-30 14:13] mairin opened #31 "(ChRIS UI - P1 - DESIGN) My Feeds Feed List - design & development"
We need a list in the UI that shows a list of all of the feeds the logged in user has ownership over.

[2019-05-30 14:17] mairin commented on #31
Here is the initial design for this screen:

![feed_list](https://user-images.githubusercontent.com/799683/58638937-eabd0300-82c3-11e9-93f4-3d907e1650f1.png)

Some things to note:
- This list only includes feeds that the currently logged in user created or has ownership permissions over (created by someone else, and they were added as an owner.) It does not include all feeds in the system.
- We wo

[2019-05-30 15:01] mairin opened #32 "(CHRIS UI - P1) Ability to create a new feed - design & development"
Right now there isn't a UI-based way to create a new feed. We need a design & front end implementation for this.

[2019-05-30 15:08] slsa22 commented on #31
![MyFeedspageV3A](https://user-images.githubusercontent.com/41117433/58641775-d4b24100-82c9-11e9-897b-a6371fb32b13.png)
![MyFeedspageV3B](https://user-images.githubusercontent.com/41117433/58641779-d845c800-82c9-11e9-8bc6-3c13c240cb82.png)

Graph mock up notes:
- The idea is to be able to view the entire pipeline when the feed tab is expanded. Since this set up isn't an example on the Patternfly 4

[2019-05-30 15:45] mairin commented on #31
Some feedback on these designs!

General thoughts:
- I think we should try to aim for a graph-based preview of each feed, because it connects the feed to the full feed details page and at-a-glance could help users recognize the feed they are looking for when browsing the list.

Suggested tasks for refinement (Graph idea):
- We need some kind of header for the page. E.g. see the first mockup in the

[2019-05-30 15:54] mairin opened #33 "(CHRIS UI - P1 - DESIGN) Add a node to a feed"
**Right now there isn't a UI-based way to add a new node to a feed. We need a design & front end implementation for this.**

# Some notes / considerations:

## What model do we want to be using for Feeds?

The model we use matters, because it has implications for how the "Add node" functionality will work.

- **Instant Apply:** Right now the model is, as soon as a plugin is added to a feed it begi

[2019-05-31 12:41] slsa22 opened #34 "(CHRIS UI - P2 - DESIGN) pipeline list"
sambros: The current pipeline list page needs to update to the latest PatternFly design. This page showcases all the pipelines used within a shared server (ex. you, the user, can view the pipelines used and created in your BCH Radiology department).

[2019-06-03 14:43] slsa22 commented on #31
![My Feeds page 603](https://user-images.githubusercontent.com/41117433/58809502-0db02580-85ea-11e9-8804-238f16411f86.png)
For this updated version, I trimmed the card overview down to 3 cards. Now that I'm looking at the progress card, I think I'll remove the warning icon and keep it as a failed card or use the "in-progress icon" <i className="pf-icon pf-icon-in-progress"></i> instead. Joe gave m

[2019-06-03 15:01] jcaianirh commented on #31
@slsa22 looks great! For the cards, I wonder how to best portray the states. Can we simply show either failed/in progress/completed? Or do we want to show combinations? Is inprogress / failed even an option? I guess i'm liking the original card layout minus the archive but with your new styling. So each card gets a state.

[2019-06-03 15:46] slsa22 commented on #31
![Card view one](https://user-images.githubusercontent.com/41117433/58814617-0f7ee680-85f4-11e9-804b-9a663f57d6f1.png)
![card view two](https://user-images.githubusercontent.com/41117433/58814618-10177d00-85f4-11e9-9195-5ec3ed77d742.png)

@jcaianrih @mairin The card system helps the user easily navigate through the feeds holistically. The combination cards seemed like it was a good simplicity idea

[2019-06-03 18:22] slsa22 commented on #31
### Tabular View ###
![TAB-MyFeed603](https://user-images.githubusercontent.com/41117433/58823849-a81f6180-8608-11e9-81a2-96c09290c22f.png)
![TAB-MyFeedOutput](https://user-images.githubusercontent.com/41117433/58823850-a81f6180-8608-11e9-8033-8f45366cf8c3.png)
The "UNK" is a placement holder for the output icon because there's no symbol available on the PF4 page.

[2019-06-03 18:45] jcaianirh commented on #31
@slsa22 I think i like it on the left, or it could be a call to action button in the header on the right ? In the store, we have the call to action button, and then we have a cardview of plugins (its not a dashboard) and the add is always the last plugin card. Maybe we keep some sense of consistency? Not sure we need it in the dashboard card if we add it to the header.

![Screen Shot 2019-06-03 at

[2019-06-05 19:13] gagansk opened #35 "(CHRIS UI - P1 - Development) Create a New Feed"
As a ChRIS User, I should be able to create a new feed using the UI.

[2019-06-06 13:59] mairin commented on #32
Here is the first full draft of designs for this feature. I have decided to design this as a wizard because of the multi-step nature of configuring the initial fsplugin on top of providing the basic metadata to create the feed.

These PNG files are in the cube-design repo here:
https://github.com/FNNDSC/cube-design/tree/master/CHRIS-UI/PNG/create-new-feed

The source file with these designs in it

[2019-06-06 18:58] slsa22 commented on #34
## Original mock up ##
![pipelineoriginal](https://user-images.githubusercontent.com/41117433/59054476-c502a180-8861-11e9-9a3b-8d8fb14abce1.png)

## Updated Version ##
![pipeline606](https://user-images.githubusercontent.com/41117433/59054773-70135b00-8862-11e9-8132-5424f7478e8e.png)
![filterforpipeline606](https://user-images.githubusercontent.com/41117433/59054815-77d2ff80-8862-11e9-87e8-ed8fda4

[2019-06-11 20:17] slsa22 commented on #34
![PipelinePage-611](https://user-images.githubusercontent.com/41117433/59303424-2cef2880-8c64-11e9-8b81-a2bc6daf454b.png)

[2019-06-12 13:06] mairin commented on #33
Here are some initial draft mockups demonstrating how this might work. They bring up additional discussion points. A few things to note up front:

* The example plugin is the MPC plugin from the Summit demo, and the parameters are the same as documented in the plugin.
* I left out the OpenShift specific parameters (e.g. max/min cpu/memory/etc.) but the option to tweak these could probably be added

[2019-06-12 13:59] slsa22 commented on #31
![feedspagelatest612](https://user-images.githubusercontent.com/41117433/59357358-b8b29480-8cf8-11e9-8c1f-d95e0cec23b6.png)

[2019-06-12 15:50] mairin commented on #34
* We might want to have some form of indication whether or not a given pipeline is present in the ChRIS store. It is probably fine to just display this attribute on the individual pipeline details page instead of this overview, though!
* The filter controls design looks great!
* Scaling the pipeline trees to fit the preview windows seems like the right call vs. cropping.
* What tab do you think wo

[2019-06-12 19:49] jcaianirh opened #36 "(CHRIS UI - P1 - Development) Add a node to a feed."
As a user I should be able to add a node to an existing feed.

[2019-06-12 19:51] jcaianirh opened #37 "(CHRIS UI - P2 - Development) pipeline list"
As a user, I should be able to view a pipeline list in the ChRIS UI.

[2019-06-13 14:20] jcaianirh commented on #31
This looks really good!!! I wonder what the avg number of feeds exist in my feeds. I don't know if there's anything we can do about this, but vertical space is definitely at a premium on this view. Given the screenshot above there would maybe be one more entry available in the row providing 3 total feeds. This doesn't have to be an action item right now because I think this looks good to get start

[2019-06-13 22:11] slsa22 commented on #31
![MyFeeds613](https://user-images.githubusercontent.com/41117433/59470718-9018c080-8e06-11e9-9198-a2bd9d9878c3.png)

I'm wondering if I should space out the list a little bit more for easier legibility? @jcaianirh @mairin

[2019-06-18 12:58] mairin commented on #31
@slsa22  some points -

- i would definitely provide for more vertical negative space between rows.
- i wonder if the right side panel in the graph preview is really necessary. it's only ever really going to have the one button. i wonder if it makes sense to have the button in the row itself (so you do not have to open the preview to be able to visit the feed, which would be more efficient) and ha

[2019-06-18 18:57] mairin commented on #33
# Potential MVP solution to config UI conundrum

After a lot of discussion with different teams at Red Hat that have a similar challenge wrt providing configuration for 3rd party tools within a platform, I do believe the ultimate right solution is to provide a custom templating ability per plugin configuration form, and set a high bar / good example for how those are constructed by intentionally d

[2019-06-25 21:56] slsa22 commented on #31
## Update ##
** I'm working on trying to debug the handmade symbols. They keep minimizing or deleting themselves when I delete something completely different
- I changed the vertical list size so its less congested
- I replaced the drop down tab with an icon that will stand in as a pop up window of the tree graph
- I included 2 ways to identify the feed count. I realized there's no option for the

[2019-06-25 22:00] slsa22 commented on #34
![pl3](https://user-images.githubusercontent.com/41117433/60136694-e07f0f00-9772-11e9-82cf-961d46e43056.png)

- I was thinking the chRIS store information could just be in an individual pipeline page just like the feeds items

[2019-06-26 12:25] mairin commented on #31
@slsa22 ah i know the trick with the icons.... if you pull them from the symbols dialog there is a bug in a recent version of inkscape where it gets scaled down - you have to select them all, go Edit > Clone > Unlink clone. From that point they won't rescale anymore.

[2019-06-26 14:21] slsa22 commented on #31
@mairin Once i deselected the icons after unlinking them, they scaled down again

[2019-06-26 14:40] mairin commented on #31
@slsa click on one of them and check the info bar at the very bottom of the screen below the palette - are you 100% they are getting delinked?

[2019-07-05 17:32] slsa22 commented on #31
## Updates ##
![v1](https://user-images.githubusercontent.com/41117433/60736975-fdf86980-9f26-11e9-8500-d3ba9c560fca.png)
* increased the width of the container
* modified progress card designs so that it's easier to identify how the user is viewing the data

![feedcard](https://user-images.githubusercontent.com/41117433/60737155-b4f4e500-9f27-11e9-87cb-e8f9615380f5.gif)

please bare with this bad

[2019-07-05 17:34] slsa22 opened #38 "(chRIS UI - P2 - DESIGN) Pipeline details"
Similar to the feed details page, the pipeline details page will display relevant information to a particular pipeline.

[2019-07-05 17:48] slsa22 commented on #38
![Individual_pipeline_page705a](https://user-images.githubusercontent.com/41117433/60737891-49604700-9f2a-11e9-83c6-4e1f1a2184f1.JPG)
![Individual_pipeline_page705b](https://user-images.githubusercontent.com/41117433/60737892-49f8dd80-9f2a-11e9-93ed-d1b940e72457.JPG)
![Individual_pipeline_page705c](https://user-images.githubusercontent.com/41117433/60737893-49f8dd80-9f2a-11e9-8247-406965022600.JPG

[2019-07-06 16:51] jcaianirh commented on #31
@slsa22 i'm getting motion sickness :)

[2019-07-09 18:12] mairin commented on #31
@slsa22 looks great, and I really appreciate the time & effort you put into animating it! it definitely helps understand the look & feel. as we talked about in the weekly UI meeting today, let's just make the filter boxes on the top regular tabs - basically just killing the grey gap / space between them and the main white content area. otehrwise, love it! You've got just the right density of infor

[2019-07-09 18:21] mairin commented on #38
@slsa22 looking good, a few things:

- Also think about how a pipeline that is not linkable to the ChRIS store will look - probably the same space that indicates the ChRIS store link for a pipeline that came from there, for one that didn't come from there maybe replace the "view in ChRIS store" button with a "Share to ChRIS store" button? (but only the pipeline owner should see this button. so in

[2019-07-09 18:23] mairin commented on #34
@slsa22 looks good, I think the tab / filter area swap was the right call. What do you think about a little icon in say the upper right corner of a card to signal it came from the ChRIS store? Not sure what the icon should be, maybe a shopping cart or something like that? Other than thinking about that I think this is good to go.

[2019-07-10 13:09] mairin opened #39 "(CHRIS UI - P1 - DESIGN) Redesign of the feed details layout"
This was discussed at the UI meeting @BSS in late June.

There is some confusion about how the data in the blue column next to the graph vs. the data in the header bar and the white content area below the graph relate to each other in the feed details page.

Shania's pipeline design uses the header and white content area below only for pipeline-wide details, and only node-specific content (related

[2019-07-10 20:24] slsa22 commented on #31
@mairin thank you very much! Also, due to my technical issues with Alva (library and limited component starter kit), Mokup (data saving failures - beta period issues I guess), and figma (refreshes randomly during prototyping), I might have to revert back to GIMP.

![MyFeeds710-png](https://user-images.githubusercontent.com/41117433/61001940-9418ff00-a32e-11e9-94f4-9380807645ac.JPG)

## Update ##
*

[2019-07-11 12:34] mairin commented on #39
So this was the first redesign attempted a while back. It makes the lower content area solely focused on node details which I think now is the wrong way, but posting here for historical context.

![feed-details_right-panel-revision_1](https://user-images.githubusercontent.com/799683/61051291-ae96bb00-a3b6-11e9-8012-f2c48fbdf833.png)

[2019-07-15 19:18] slsa22 commented on #34
## Update ##
![pipeline715](https://user-images.githubusercontent.com/41117433/61242264-3e1fcf00-a713-11e9-9967-3d3f6b5aa59f.JPG)

- Updated pipeline page based off prior comment @mairin
   * I had to resize the container so that the cards wouldn't overlap and the icon could be obvious.
   * My only concern is that the "Create new pipeline" CTA looks a bit isolated from everything else

[2019-07-16 14:33] mairin commented on #39
Okay here's a refresh of the refresh design. :-) Some features to look for:

- Rather than listing out all the parameters for individual plugins in the bottom display, there is a dropdown not unlike github's clone button in the selected node area up on the right hand side of the graph that provides a copy/paste-able text readout of the command run to use the plugin in the feed.
- I've added a UI-v

[2019-07-16 15:33] mairin commented on #33
Current work in progress of the screen under discussion - this is the RAW cli input version
![dialog_add-new-nodes_step3-wiz2_RAW](https://user-images.githubusercontent.com/799683/61308089-809de600-a7bd-11e9-8e5a-15a8fe338e84.png)

[2019-07-16 18:31] mairin commented on #39
Here's an update based on @jcaianirh 's feedback this morning. Changelog:
- There's potential confusion with the tree selection driving both the graph area right sidebar as well as the below content area (where the file output viewer is), and I would like to keep the below content area feed-wide so it matches the details model used elsewhere (eg pipeline details page). So, I dropped the dropdown t

[2019-07-16 19:17] mairin commented on #39
Two pending changes based on discussion in Slack just now:
- drop the 'feed' entry in the breadcrumb trail. Treat each plugin output dir as a separate root, so there's no confusion that the user copying a file path for use in a plugin command will get a global / feed-wide path which will not work when used with a command
- figure out how to display a copy/paste interface for copying the path to an

[2019-07-16 19:54] slsa22 commented on #34
## Update ##
- Didn't mention this before but the icons on the upper right corner of the cards display the pipeline's availability in the store
   - I made the cart icon
![blue5set](https://user-images.githubusercontent.com/41117433/61325107-ff0c7f00-a7e1-11e9-99d1-8d95d501c10b.JPG)

[2019-07-16 20:12] mairin commented on #39
OK here is a design I think that's in good shape to start working on implementing:
![feed-details_right-panel-revision_5](https://user-images.githubusercontent.com/799683/61326359-907cf080-a7e4-11e9-8282-16a23e2bc59f.png)

[2019-07-16 20:48] mairin opened #41 "(CHRIS UI - P2 - Development) sanity checking on add a new node CLI text area"
Sanity checks we should do on add node textarea input for CLI commands:

- check that any path / inputpath type parameters point to files that exist that we can access
- check that all parameters exist for the plugin being used and are spelled correctly, etc

If any error condition is detected, grey out the submit button and throw up an error message.

[2019-07-17 13:55] mairin commented on #39
One stupid issue - this design doesn't display the feed description. 🤦 I wouldn't consider this an MVP blocker. I'd simply add it as another field in the top header. I can update the mockup accordingly, just a head's up!

[2019-07-17 21:23] slsa22 commented on #38
## Update ##
![individual_pipeline_details717-pipelineview](https://user-images.githubusercontent.com/41117433/61411920-7fe87b00-a8b5-11e9-8db4-4c87b58f8c6d.PNG)
![individual_pipeline_details717-feedview](https://user-images.githubusercontent.com/41117433/61411919-7fe87b00-a8b5-11e9-9ac5-1a1a627d8c2c.PNG)
![individual_pipeline_details717-popup](https://user-images.githubusercontent.com/41117433/61

[2019-07-18 18:01] slsa22 commented on #31
## Update ##
![myfeedslist718-inline](https://user-images.githubusercontent.com/41117433/61480219-774e7e00-a963-11e9-9a81-ff5ff8fb4ae6.PNG)

* Added a column to display the feed description
* Note: The pipeline icon is a default icon image state.
  * When hovering over the icon, the feed graph will display

[2019-07-18 20:59] #35 closed

[2019-07-18 21:00] jcaianirh opened #42 "Broken tests"
Fix broken unit tests for chris ui

[2019-07-19 13:28] slsa22 commented on #38
## Update ##
![individual_pipeline_details718-defaultconfig](https://user-images.githubusercontent.com/41117433/61537885-378ca280-aa06-11e9-9f6d-215d0875cbe1.PNG)
![individual_pipeline_details718-feed_list](https://user-images.githubusercontent.com/41117433/61537887-378ca280-aa06-11e9-83a9-90a99e97dae4.PNG)
![individual_pipeline_details718-feed_list_popover](https://user-images.githubusercontent.c

[2019-07-19 14:30] slsa22 commented on #31
## Update ##
![MyFeedslist719](https://user-images.githubusercontent.com/41117433/61542694-18930e00-aa10-11e9-8581-6fc347cc6336.png)

* Changed the in-line description to become popovers

[2019-07-23 13:48] mairin commented on #31
Looks good to me!! Going to move this to the done col.

[2019-07-23 13:50] mairin commented on #34
One quick q - should we emulate the feed list with the pipeline list by having numerical values for each tab?

[2019-07-23 13:51] mairin commented on #38
This looks good to me! Going to move to the done stack.

[2019-07-23 17:59] slsa22 commented on #31
![Feeds-list_iphoneX](https://user-images.githubusercontent.com/41117433/61735457-04257d00-ad52-11e9-92b7-958823b08cf0.PNG)
![feed-view_samsung](https://user-images.githubusercontent.com/41117433/61735458-04257d00-ad52-11e9-81aa-2d435b4ed295.PNG)

mobile view testing

[2019-07-23 18:10] jcaianirh opened #43 "ChRIS UI - P1 - DEVEL: redesign of the details layout of feed details."

[2019-07-23 18:30] mairin opened #44 "(CHRIS UI - P2 - DESIGN) Feed details responsiveness"
Needs Grooming** - feed details page has issues with responsive design - the graph gets a bit corrupted and the lefthand menu doesn't stack. If you scale down and rescale up, the divider between the two node graphs gets shifted and overwrites one of the graphs too.

[2019-07-24 13:08] mairin commented on #39
At the UI standup yesterday afternoon, we agreed on some changes to this design:

- To make sure the hierarchy of the content area below the graph is consistent, the title of the selected folder + its ID, as well as the "download all" button and metadata will be moved below the divider line under the "Output Browser" header, and to the left of the left hand side folder listing.

- We will defer th

[2019-07-24 13:22] mairin opened #45 "(CHRIS UI - P3 - DESIGN) Add cancel and/or delete buttons per node in feed details."
Add cancel and/or delete buttons per node in feed details. (Cancelling a node also cancels all nodes that follow it in its tree branch)

[2019-07-24 16:36] slsa22 commented on #34
![pipeline_list_724](https://user-images.githubusercontent.com/41117433/61811515-a0fa2000-ae0f-11e9-9bd3-217df3891159.PNG)

[2019-07-24 16:47] mairin commented on #34
Perfecto, marking as reviewed for design and moving to done.

[2019-07-24 20:13] slsa22 commented on #44
## Initial Feed details design: Samsung s10  ##

![samsung10-1](https://user-images.githubusercontent.com/41117433/61825127-acf4da80-ae2d-11e9-8a65-080ad4625f75.PNG)

* Left image displays general feed layout and tab item popover example
* Right image is what I imagine would happen if the user were to click on the icon to preview a scaled version of the feed graph

[2019-07-26 17:12] #42 closed

[2019-07-26 20:59] slsa22 commented on #44
## Issues ##
### Masthead: ###
* When tested on the ipad simulator (via chrome dev tools), the web asset image is gone. However, on an ipad pro you can see the background image but the nav bar symbol is gone.
 <img src="https://user-images.githubusercontent.com/41117433/61977337-31756380-afbc-11e9-9fdb-99a7ac9073e9.PNG" width="300"><img src="https://user-images.githubusercontent.com/41117433/61977

[2019-07-30 14:26] #43 closed

[2019-07-30 15:01] jcaianirh opened #48 "(CHRIS UI - P1 - DEVEL) My Feeds Feed List"
Design here: https://github.com/FNNDSC/ChRIS_ui/projects/4#card-21576966

[2019-08-01 15:10] rudolphpienaar commented on #33
Is the latest/current design consideration?

[2019-08-01 15:26] mairin commented on #33
@rudolphpienaar it's not - this one is still in product, not ready for review yet. (Sorry I must have mistagged it.)

[2019-08-02 15:00] slsa22 commented on #44
## Drafted examples of the feed details list ##
![FEEDDETAILS-appleiphone802](https://user-images.githubusercontent.com/41117433/62379281-a55fc080-b514-11e9-8030-5daf5de30e64.png)
![FEEDDETAILS_Samsung802](https://user-images.githubusercontent.com/41117433/62379282-a55fc080-b514-11e9-860d-2437debadc19.png)
![FEEDDETAILS-tabletview802](https://user-images.githubusercontent.com/41117433/62379283-a55

[2019-08-06 13:34] mairin commented on #44
Hey @slsa22 this is looking great! Some feedback points:

- how do you navigate between the feed graph view and the node details view with the output browser? maybe put the output browser / node details in a modal with an X in the corner to close it and drop the masthead so it's more clear its relationship navigationally to the main feed screen?

- the drop down labeled "file name" in the file out

[2019-08-07 18:06] jcaianirh opened #52 "Add description to the top header of the my feeds header"
add it as another field  to display the description in the top header.

[2019-08-07 18:35] mairin commented on #33
# Updated Step 1 for Add Node
This mockup is pretty solid and I'd say ready for implementation. I've updated it to reflect the feed details redesign. (Step 2 / screen 2 incoming in the next few hours)

![dialog_add-new-nodes_step1](https://user-images.githubusercontent.com/799683/62648372-a59afa00-b920-11e9-8324-6a916ab14313.png)

[2019-08-07 18:58] mairin commented on #33
# Updated Step 2 for Add Node

![dialog_add-new-nodes_step2](https://user-images.githubusercontent.com/799683/62649950-c1ec6600-b923-11e9-8dd4-be45cd16f4d6.png)

[2019-08-07 19:13] #48 closed

[2019-08-08 13:54] slsa22 commented on #44
[8.8.19 09:46]
* Increased list row padding
* Removed drop down menu --> user should select a node from the graph in order to open the output browser modal
* Removed image icon and the utmost right icon in the lists. Originally I was trying to follow the design template of the mobile list view and I thought that instead of using the "download" icon, it would just be shown within the [... (this sym

[2019-08-08 15:34] slsa22 opened #53 "(CHRIS UI - P2 - DESIGN) Pipeline list responsiveness"
How will the cards look in a mobile view?

[2019-08-08 17:30] slsa22 commented on #53
## A rough sketch that needs a lot of work ##
![pipeline-mobile-question-mark](https://user-images.githubusercontent.com/41117433/62724097-2f5dcc80-b9e0-11e9-9580-251330eafbc7.png)

- Card lists on mobile devices aren't commonly set up vertically like this draft (based off my findings in several design works. Trello doesn't change their formatting to on mobile either)
* This is just an idea I'm st

[2019-08-09 13:55] mairin commented on #44
The revision looks great, it addresses pretty much everything I pointed out! The only suggestion I would have further - I think the action of opening up the output browser is going to be confusing, which I didn't realize until I saw your revisions. If you select a node in the graph, it'll bring up the details for that selected node in the blue area below the graph. So I think it's unclear then how

[2019-08-09 14:22] mairin commented on #53
Great start! Some feedback:
- Creator should have creator name instead of timestamp
- Created - because these are templates and not things that are actually running or going to run, I think you don't need a detailed timestamp. When a user is looking at this list, I think they are trying to assess which pipeline is going to help them achieve the analysis they want. So probably creation time at this

[2019-08-09 15:34] rudolphpienaar opened #56 "Testing on host 'centauri'"

[2019-08-09 15:36] rudolphpienaar commented on #56
Install npm / node on 'centauri'

[2019-08-12 16:15] slsa22 commented on #44
## Displaying view output ##
- I made two versions of the blue area just to view more possibilities. However, I thought the link version would require more effort to find than the button.
![2](https://user-images.githubusercontent.com/41117433/62880119-b4a3f280-bcfa-11e9-8a96-6a43c8e597e5.png)

![3](https://user-images.githubusercontent.com/41117433/62880195-de5d1980-bcfa-11e9-92c7-d84be1eae863.pn

[2019-08-13 20:04] matankb commented on #36
Things left to do after #58  @PintoGideon :
* Small tweaks to margin, font-size, etc., to match the designs (#33)
* In the parent node selection dropdown, also include the instance's `ID` (similar to the file browser's left-hand navigation).
* Plugin Select:
  * Only show DS plugins in plugin select list
  * In `fetchAllPlugins`, fetch all plugins, not only first page (see `CreateFeed/BasicInforma

[2019-08-21 15:12] slsa22 commented on #53
## Update ##
![pipeline-list-mobile-821](https://user-images.githubusercontent.com/41117433/63443783-6b8f2500-c403-11e9-99b1-ff9ad6a657d4.png)

! **This card component isn't currently available on Patternfly** however,
In the process of making this, I gathered inspiration from this [dribbble post](https://dribbble.com/shots/3200853-Recipe-iOS-Application) and incorporated current patternfly compon

[2019-10-07 21:37] jcaianirh opened #61 "Issue with negative values and dates while adding a new node."
The parameter editor in the process of adding a node does not take in negative values and date in the format "yy-mm-dd".

Working on a fix.

[2019-10-08 14:27] PintoGideon commented on #61
@jcaianirh Will check and give you an update today.

[2019-10-08 14:54] jcaianirh opened #62 "Fix npm dependency vulnerabilities"
npm install output includes over 65 dependency vulnerabilities and some had critical status. Fix the dependencies and clean up the package.lock file.

[2019-10-08 15:07] PintoGideon commented on #62
@jcaianirh Got you.

[2019-10-08 18:48] #62 closed

[2019-10-09 19:05] jcaianirh opened #64 "Update patternfly packages to latest."

[2019-10-10 15:08] jcaianirh opened #66 "Update Chris UI Nav to use pfly dark nav/sidebar"

[2019-10-10 15:45] jcaianirh opened #67 "Update Chris UI to use red hat fonts"

[2019-10-12 20:23] jcaianirh commented on #67
fixed with pr 68

[2019-10-12 20:23] #67 closed

[2019-10-12 20:24] jcaianirh commented on #66
closed with pr 68

[2019-10-12 20:24] #66 closed

[2019-10-12 20:24] jcaianirh commented on #64
closed with pr 65

[2019-10-12 20:24] #64 closed

[2019-10-14 04:51] jcaianirh opened #69 "Errors when building container target of Chris ui"

[2019-10-14 19:08] jcaianirh commented on #69
fixed by jorge adding chrome to container builds.

[2019-10-14 19:08] #69 closed

[2019-10-16 20:52] #56 closed

[2019-10-23 13:05] jcaianirh opened #73 "Update readme after testing ui with new container start up commands"

[2019-10-23 13:07] jcaianirh opened #74 "Add node ui drop down."
It looks like the Drop Down in the UI for "All plugins" only shows the first page of plugins returned by the backend.

[2019-10-23 18:08] jcaianirh commented on #52
@PintoGideon when closing issues, can you add the pr that fixes it please?

[2019-10-25 15:40] PintoGideon commented on #74
@jcaianirh  Working on this.

[2019-12-05 17:34] rudolphpienaar opened #78 "Design meetings"

[2019-12-05 17:35] rudolphpienaar commented on #78
04-Dec-2019

Updates with Gideon

* swift storage browser?
* PACS pfdcm interface ideas
* General stability
* Form design and updates
* Delete functionality in FE?

[2020-02-13 16:15] #73 closed

[2020-02-13 16:17] PintoGideon commented on #61
![Issue_61](https://user-images.githubusercontent.com/15992276/74454790-67900d00-4e52-11ea-972d-3659918fae88.png)

[2020-02-13 16:17] #61 closed

[2020-02-13 16:18] PintoGideon commented on #74
![Issues_74](https://user-images.githubusercontent.com/15992276/74454857-81315480-4e52-11ea-9d61-cf2098ab304c.png)

[2020-02-13 16:18] #74 closed

[2020-02-13 16:18] #52 closed

[2020-02-13 21:12] PintoGideon opened #80 "Register a new user"
-  Create a form to register a user.

[2020-04-24 21:19] PintoGideon opened #86 "Rewrite the feature for adding a new feed"
**The discussion for the below feature can be found here:**
http://chrisproject.org/status-apr-16-2020/

1. Rewrite the Create New Feed feature with hooks
2. Update the `fnndsc` javascript client to `1.1.1` in the UI.

### **Data Configuration**

![new-feed_data-config_01](https://user-images.githubusercontent.com/15992276/80257115-34d27400-864e-11ea-9df3-1f51943f5a5f.png)

### **Chris File Select

[2020-04-24 21:19] #80 closed

[2020-04-28 12:39] PintoGideon opened #88 "Fixing the fileviewer's to catch all display."

[2020-04-30 12:44] #88 closed

[2020-07-20 17:59] PintoGideon opened #92 "Polling cube and displaying status labels for intermediary steps."

[2020-07-20 18:07] #92 closed

[2020-07-21 16:20] #86 closed

[2020-07-23 16:18] PintoGideon opened #98 "Create a DICOM Viewer for the UI"
1. Create a DICOM viewer based upon the cornerstone.js library.
2. Implement tooling like pan, zoom, invert and modality.

[2020-07-27 19:54] jennydaman opened #99 "Invalid login error page"
Currently, incorrect username or password just shows the /not-found page.

Login page should give correct feedback to user about being unable to log in.

[2020-07-30 18:21] mairin opened #100 "ChRIS UI: Create small React widget to display thumb for medical images, to be used in ChRIS UI file browser"
(@abdullahsikder)

[2020-08-13 19:32] mairin opened #101 "ChRIS UI: We need a JS front end for PACS search"

[2020-08-13 19:46] mairin opened #102 "(Testing) Browser testing for COVID-Net frontend"
The COVID-Net UI works in Firefox and Chrome, but it is still typical for Internet Explorer to be in use at hospitals. We may want Microsoft Edge testing too.

It would be very helpful to have an idea of how this UI performs in IE and to create issues found so we can get them fixed.

This is the repo for the COVID-Net UI:
https://github.com/darwinai/covidnet_ui

There is a readme file on the botto

[2020-09-04 15:09] junaruga commented on #100
Could you explain more about this? What is ChRIS UI file browser?
What is a next action for this task?

[2020-09-07 03:41] abdullahsikder commented on #100
Hi Jun,

Sure. To explain the issue in a bit more detail, on the clicking Add New Feed and then proceeding onto uploading an image allows one or multiple images to be uploaded. Now when uploaded this only retrieved the string (name of file) to the front-end and displays that.

The task is to retrieve both the name of the upload file (string) and the image itself ( img src) to be able to display on

[2020-09-07 14:48] junaruga commented on #102
Does anyone have Microsoft Edge on Windows environment?

Ref: Browser market share: https://gs.statcounter.com/browser-market-share

Can we use the this kind of tool ideally for free?
https://crossbrowsertesting.com/

[2020-09-07 15:40] junaruga commented on #100
Thanks for the explanation. Okay. In my understanding, this ticket is a feature to add the name of the uploaded image file from the web UI.

[2020-09-08 15:43] mairin commented on #102
@junaruga I do have a windows VM I can use for Microsoft Edge testing if need be. I wonder if the Red Hat web team has a cross browser testing tool we could get an account on.

[2020-09-08 16:45] dcaryll commented on #101
@mairin what's the best way for me to add feedback? Just add a comment here? Do you have use like Sketch that would have a review link?

[2020-09-08 16:46] mairin commented on #101
@dcaryll Just comments here is perfect. I use inkscape.

[2020-09-08 17:48] dcaryll commented on #101
@mairin it was easier for me to drop pins on what I was talking about 👍

Here ya go: https://xd.adobe.com/view/a45da101-2b5b-4f9e-a609-6c5cc0bda226-f10e/ (hope it's constructive)

[2020-09-10 16:40] junaruga commented on #102
OK. Nice.

Hum.

[2020-09-15 15:40] mairin commented on #101
@dcaryll just reviewed - thank you! immensely helpful! working on some mods now, and will post shortly, hoping you'd be up for another round of feedback after?

[2020-09-16 19:52] mairin commented on #101
Here's an updated mockup, incorporating a lot of feedback from @dcaryll as well as updates to account for the data model of what we get back from the PACS:

CHANGELOG
- The patient ID and accession number fields are emphasized and shown by default; the additional fields are hidden under an expander
- The search button is a normal size / position now
- I ditched the weird multi-layer nested carouse

[2020-09-17 14:23] mairin opened #103 "Hide/iconify functionality for left side navbar in ChRIS UI"
The left side patternfly navbar in the main ChRIS UI would be handy to have the ability to iconify or minimize. Patternfly has some built-in functionality for this so we should turn it on. For screens such as the pacsquery screen where you are working with data with a lot of fields, the extra screen real estate would be really valuable.

[2020-09-21 15:11] rudolphpienaar opened #105 "Ports. remote access, and starting"

[2020-09-21 15:14] rudolphpienaar commented on #105
# Build with appropriate UID and proxy

On remote BCH machine,

[code]

NB the FNNDSC UIDs will probably not work in the build since they exceed the upper UID limit on alpine linux.

[2020-09-21 15:15] rudolphpienaar commented on #105
# Run

[code]

[2020-09-21 15:42] rudolphpienaar commented on #105
# Monitor

On the host running `CUBE`, be sure to instantiate `CUBE` with

[code]

and then monitor the `CUBE` terminal with

[code]

[2020-10-05 16:08] rudolphpienaar opened #111 "Not rendering complex Feeds"

[2020-10-05 16:09] rudolphpienaar opened #112 "Feed Creation Notes"

[2020-10-05 16:10] rudolphpienaar opened #113 "Execution state in overview mode"

[2020-10-05 16:10] rudolphpienaar opened #114 ""Subway view" and logs"

[2020-10-05 16:11] rudolphpienaar opened #115 "Dynamic info at each execution stage"

[2020-10-05 16:21] rudolphpienaar commented on #112
Steps should be:

1. Basic Information

2. Feed Data Source

2.1 If choose "Generate files from FS plugin", then:
2.1.1. Remove the "Data Packs" language and replace with "Feed Synthesis Plugin" with the sub heading "Please choose the Feed Synthesis Plugin you'd like to run"

2.2 For all the other choices that currently say "Data Configuration", replace that text with "File Selection"

[2020-10-05 16:23] rudolphpienaar commented on #112
The file upload progress bar:

1. Should track with the number of files being uploaded.

Right now, about the first 25% of the progress immediately fills up, then all the pushing of files has no progress movement of files.

Have noticed that many times the progress bar goes RED even though the upload is successful.

[2020-10-05 16:25] rudolphpienaar commented on #112
Have noticed that the RED progress bar seems to happen often with upload of MANY files.

[2020-10-05 16:33] rudolphpienaar opened #116 "My Feeds Page"

[2020-10-05 16:34] rudolphpienaar commented on #116
Switch the link-to-feed from the far right to simply being able to click on the Feed name/icon on the left

[2020-10-05 16:35] rudolphpienaar commented on #116
Replace the "view feed details" with different behaviour:

* Feed still running?
* Amount of data/plugins?

[2020-10-05 17:16] rudolphpienaar commented on #115
Each substep of the execution flow does get a full JSON job object from the ancillary services. This can be used to add important dynamic data to each step:

[2020-10-05 17:18] rudolphpienaar commented on #115
Transmit data:
* size of zip file
* number of files
* time of step

Compute
* time of step

Sync from remote
* number of files in pulled zip
* size of all files on the FS

[2020-10-05 17:20] rudolphpienaar commented on #114
Subway view should be created -- possible even the same steps/view as during execution, with same info -- each step with time taken. Also, clicking on subway stops opens the log file for that step.

[2020-10-05 17:26] rudolphpienaar commented on #113
plugins in the feed graph can now exist in multiple states:

* created
* waitingForPrevious
* scheduled
* started
* registeringFiles
* finishedSuccessfully
* finishedWithError

ideally, each of these states should be somehow represented on the Feed graph. Maybe with color/pulse?

* created -- white
* waitingForPrevious -- yellow pulse
* scheduled -- solid yellow
* started -- green pulse
* register

[2020-10-05 17:27] rudolphpienaar opened #117 "Add new node wizard"
![Screenshot from 2020-10-06 11-03-24](https://user-images.githubusercontent.com/799683/95258436-c5170680-07f3-11eb-852c-145f860e5e32.png)
![Screenshot from 2020-10-06 11-04-11](https://user-images.githubusercontent.com/799683/95257654-a3694f80-07f2-11eb-90f0-e9b601532f05.png)

The main UI observation here is wiring up the "enter" key:

Configure Form:

- [ ]  Add subtext: `Use the "Add more param

[2020-10-05 17:30] rudolphpienaar commented on #117
The main UI observation here is wiring up the "enter" key:

Configure Form:

* Add subtext:

Use the "Add more parameters" button to add command line flags and values to the plugin. Note, if you prefer a free form input box where you might all the command line parameters together, you can safely hit "next" here.

* Wire up "enter" to automatically give a "choose a parameter" dropdown.

[2020-10-05 17:31] rudolphpienaar commented on #117
In the editor form:

* Wire up "enter" to automatically hit "next"

[2020-10-06 14:31] rudolphpienaar opened #118 "General UI analysis / etc"

[2020-10-07 19:24] mairin commented on #117
(The deleted comment was just a dupe of the head comment, copy/pasted it over so it'd show up in the kanban)

[2020-10-07 20:07] mairin commented on #116
(Deleted comments transposed into comment #1 for kanban board visibility)

[2020-10-07 20:11] mairin commented on #117
One of the things we talked about for the full editor form for plugin parameters was whether or not users might want to use the "Enter" key for carriage return here to indent / space out their parameter list and whether or not Enter == Next might be confusing for that case. So I think for the first form no doubt we should make the changes. I think for the full editor one, we should think a little

[2020-10-08 17:13] rudolphpienaar opened #121 "Add some version "string" to the UI"
Provide an unobtrusive version string/info to the UI -- that way users can at a glance know what version they are currently running.

[2020-10-08 19:03] rudolphpienaar opened #122 "Add new node wizard has stock title"
No matter what plugin is selected, the wizard *always* sags "Configure MPC Volume Calculation Plugin"

[2020-10-08 19:18] rudolphpienaar opened #123 "Output browser shows incorrect file count"
Title says it all. I uploaded 192 files, but the output browser keeps saying "149" files. I checked the output browser content and there are 194 files.

[2020-10-09 20:21] #122 closed

[2020-10-09 20:21] #111 closed

[2020-10-13 16:41] PintoGideon commented on #112
Issues found in the js clent and the server response.
1. The error caught in the UI from the client is 'No server response'.

2. [2020-10-13 12:32:58,949] [INFO][client 43 140036368480000] REQ: curl -i http://swift_service:8080/v1/AUTH_chris/users/chris/uploads/test-upload-75/0191-1.3.12.2.1107.5.2.19.45152.2013030808105486367685381.dcm -I -H "X-Auth-Token: AUTH_tk098e57be9..."
[2020-10-13 12:32:5

[2020-10-14 02:28] rudolphpienaar opened #127 "Default to text view for unknown filetypes"
Output viewer should default to (or provide the ability to view as) text files any "unknown" format outputs.

[2020-10-14 03:01] rudolphpienaar opened #128 "Spinning wheel in output viewer fullscreen is not centered"

[2020-10-14 14:42] rudolphpienaar opened #129 "User monospace font for upload of image slice count"
Using a non-monospace font for a counter, like

loading 2/192...

Results in a jittery effects in the UI since the pixel width of the element changes depending what actual number is being shown.

Using a monospaced font should fix this. Also, index number should be padded with zeros:

 loading 002/192

[2020-10-14 14:45] rudolphpienaar opened #130 "Change the "Feed Configuration" in Step 2 of "Create New Feed" to "Feed Type Selection""
I still don't think "Feed Configuration" is the correct language here, since we are not _configuring_ anything. We are selecting how to create a new feed, not how to configure it.

[2020-10-14 14:47] rudolphpienaar opened #131 ""Create New Feed" file upload with upload selection -- icon and text are not centered in window"

[2020-10-14 21:39] #123 closed

[2020-10-16 19:01] #99 closed

[2020-10-16 19:01] #117 closed

[2020-10-16 19:01] #130 closed

[2020-10-18 00:29] PintoGideon opened #133 "File Viewer bug"
1. Disable the gallery toolbar when the files are being loaded.
2. The 'download file' icon does not work

[2020-10-19 15:41] PintoGideon opened #134 "Remove the dropdown to choose between plugin and pipeline in the "Add a Node" wizard's initial step."

[2020-10-30 23:01] rudolphpienaar opened #140 "Show Feeds of logged in user in swift storage space"

[2020-10-30 23:02] rudolphpienaar opened #141 "If choosing a directory in swift browser, also tick all the directory files as selected."

[2020-10-30 23:02] rudolphpienaar opened #142 "Add additional metadata per plugin in create new feed / add new node wizard at step where you select a plugin (if possible, short form description of plugin)"

[2020-10-30 23:02] rudolphpienaar opened #143 "Empty list design for feed table for new user logging in with no feeds. Should be along the lines of:"
https://www.patternfly.org/v4/components/empty-state

[2020-10-30 23:03] rudolphpienaar opened #144 "Typo: when you create a new feed, under the tag section of the first screen there is a typo, "chose" instead of "choose""

[2020-10-30 23:03] rudolphpienaar opened #145 "Render Feed as force directed graph"

[2020-10-30 23:03] rudolphpienaar opened #146 "Add --gpus=all selector in GUI"

[2020-10-30 23:05] rudolphpienaar opened #147 "Clicking on a completed node in the Feed graph should default to showing the "terminal" output view of that node"

[2020-10-30 23:06] rudolphpienaar opened #148 "The right most panel of the browsing screen (specifically the terminal) needs to move up in the layout. Too much white space above the divs"

[2020-10-30 23:06] rudolphpienaar opened #149 "Add exec env toggle/choice in the add node wizard."

[2020-12-19 23:11] #148 closed

[2020-12-19 23:12] #146 closed

[2020-12-19 23:12] #149 closed

[2020-12-19 23:12] #147 closed

[2020-12-19 23:12] #144 closed

[2020-12-19 23:12] #141 closed

[2020-12-19 23:13] #140 closed

[2020-12-19 23:13] #133 closed

[2020-12-19 23:13] #127 closed

[2021-01-19 17:41] jennydaman opened #166 "Background image at /login does not work in Firefox (works in Chrome/Chromium only)"

[2021-01-29 00:42] #121 closed

[2021-01-29 00:43] #114 closed

[2021-02-09 16:13] #145 closed

[2021-02-09 18:51] #113 closed

[2021-02-09 18:51] #134 closed

[2021-02-21 22:33] #112 closed

[2021-02-25 18:37] #98 closed

[2021-02-25 18:38] #78 closed

[2021-03-25 14:00] #143 closed

[2021-03-25 20:55] #103 closed

[2021-03-30 03:05] Aaishpra commented on #116
Hey, If this is open I would like to work here, as an outreachy internship applicant.

[2021-03-30 04:09] PintoGideon commented on #116
Hi @Aaishpra , Firstly, Welcome to the project.

I am currently working on this. A good place to start would be the slack channel with an introduction. There would be an intro to ChRIS talk held early next week to walk you through the project. Post that, we can assign you an open/pending issue. In the meanwhile, feel free to familiarize yourself with the codebase. We use React, Typescript and Patt

[2021-03-30 04:59] Aaishpra commented on #116
Hey thanks for your reply @PintoGideon posted an intro on the matrix,(if that's the correct place to do so)
I have exeperience with using React and typescript but Patternfly is new for me,but seems fun to learn.
If you can provide me a link to slack channel that would be great.

[2021-03-30 05:02] Aaishpra commented on #116
Another thing, wouldn't it be better to have a link to chat channels in the readme. It would be better and easier for newcomers to reach out to the community members through these links to the chat channels.
PS: If you think this can be done, I can work on it. 😉

[2021-03-30 10:18] DivyanshiSingh commented on #100
Is this issue open to work?
I would like to work on this. Please assign me this issue @mairin.

[2021-03-30 10:21] DivyanshiSingh commented on #101
Is anyone working on this @mairin. If not, can I work on this issue?

[2021-03-30 18:38] #142 closed

[2021-03-30 18:39] #129 closed

[2021-03-30 18:39] #118 closed

[2021-03-30 20:18] mairin commented on #116
Hi, welcome to the ChRIS project @Aaishpra! I do see your intro on the Slack (The Matrix room is linked to the Slack #onboarding room) so it should be the same place.

I am not sure about linking the chat channels in the README because we have so many repos - I wonder if it would make sense to add http://chrisproject.org/join-us to the READMEs of some of the more prominent repos - that is a walkth

[2021-03-30 20:32] mairin commented on #101
Hey @DivyanshiSingh ! The design for this one is under redesign, I'll retag it so that's clear, sorry for the confusion!

[2021-03-31 01:41] DivyanshiSingh commented on #100
hello @mairin can you give the status of this issue. I would like to work on this.

[2021-03-31 01:45] DivyanshiSingh commented on #53
Hey, @mairin is anyone working on this issue? I would like to work on this. Please assign this issue to me.

[2021-03-31 01:46] DivyanshiSingh commented on #45
@mairin this one is great to work on. I would like to work on this issue. Please assign me this issue.

[2021-03-31 01:56] DivyanshiSingh commented on #37
Hello @mairin Can I work on this issue?

[2021-03-31 01:57] DivyanshiSingh commented on #32
Hello @mairin may I know the status of this issue. Is it still available to work upon?

[2021-03-31 05:07] Aaishpra commented on #116
@mairin yep, I agree better to add the link you provided on the readme than just chat channel link.
Although I don't see any correct heading to add this link to. Shall I make a new heading something like ` Contact Us` or `Resources` or shall I add it under  current `Notes` heading

[2021-03-31 06:16] khushishikhu commented on #102
@mairin Hi, I am an outreachy applicant. May I work on this issue?

[2021-03-31 12:32] mairin commented on #102
@khushishikhu sure, you can use https://covidnet.chrisproject.org/ for testing. you can dm me on matrix or slack for the password.

[2021-03-31 12:46] mairin commented on #100
Hey @DivyanshiSingh - lets wait until you've completed https://github.com/FNNDSC/ChRIS_store_ui/issues/102 - so other applicants have a shot. 👍

[2021-03-31 12:48] mairin commented on #53
@DivyanshiSingh hey, this one is a design ticket not a devel ticket. The design is ready but this section of the app hasnt been created yet.

[2021-03-31 13:53] Aaishpra opened #204 "Add link to readme which gives a walkthrough to the project"
## Description
Add this **[link](http://chrisproject.org/join-us)** under the `resources` heading which gives a walkthrough about the project so that new contributors can know more about the project.

[2021-03-31 14:52] PintoGideon commented on #204
Hey @Aaishpra , What do you think about adding that link under the 'Learn More' heading ? I think it fits there.

[2021-03-31 14:54] Aaishpra commented on #204
Sure will place it there then.

[2021-03-31 15:40] PintoGideon opened #206 "Convert Class Components into Function Components."
There a few class components that can be re-written into function components for a cleaner API.

List of the components that need to be re-written will be added here shortly.

[2021-03-31 19:26] PintoGideon opened #207 "Responsive Design for the Dicom Viewer."
The set of Tools need to be centered in the screen for smaller screen sizes.

**Ideal:**

![Tools need to be centered](https://user-images.githubusercontent.com/15992276/113199692-6af07e80-9235-11eb-8f48-788882bf186e.png)

**Current:**

![Unresponsive_Design](https://user-images.githubusercontent.com/15992276/113199672-662bca80-9235-11eb-8a72-9d72746e948c.png)

[2021-04-01 05:57] Deek9399 commented on #206
Hello, I am an outreachy applicant. I would like to work on this issue.

[2021-04-01 15:24] #204 closed

[2021-04-01 17:48] jennydaman opened #209 "Show spinner before list of feeds is loaded"

[2021-04-01 18:08] jennydaman opened #210 "File upload from new feed wizard errors when feed title includes special symbols"
e.g. "?"

I think the swift path will include the special characters and that is not allowed.

[2021-04-01 18:17] #210 closed

[2021-04-01 20:25] roshnaeem commented on #209
Hello @jennydaman! can you please provide a little detail. I want to work on this issue.

[2021-04-01 20:53] jennydaman commented on #209
After logging in (username: chris, password: chris1234) and going to https://app.chrisproject.org/feeds
you see "No feeds found" for a split second before the feeds show up.

It'd be nicer if the "No feeds found" page was a loading spinner instead, and so "No feeds found" is shown only when the response resolves and the data is empty.

[2021-04-01 20:59] roshnaeem commented on #209
@jennydaman, please assign me this issue!!

[2021-04-01 21:04] PintoGideon commented on #209
@roshnaeem , This task is assigned to you now. Let me know if you have any questions.

[2021-04-01 21:12] PintoGideon commented on #206
Hey @Deek9399 , Welcome to the project.

If you navigate from the root folder to the layout folder (src/containers/Layout), you will see a few components that need to be rewritten using hooks for a cleaner api.
[code]

Let me know if you would like to take that up as a task and I'll assign this issue to you. Feel free to ask me any questions.

[2021-04-02 05:32] somya51p commented on #166
@jennydaman I wish to work on this issue. I am an Outreachy applicant.

[2021-04-02 05:34] somya51p commented on #206
@PintoGideon If this issue is not assigned to @Deek9399, I wish to work on the same.

[2021-04-02 06:07] Deek9399 commented on #206
@PintoGideon You can assign this issue to @somya51p. I am getting myself familiar with the project. If the issue is still available, I will check back again.

[2021-04-02 13:34] PintoGideon commented on #206
Hi @somya51p , This issue is now assigned to you. Feel free to reach out with any questions.

[2021-04-02 15:52] somya51p commented on #206
Yeah sure, ThankYou!

[2021-04-03 04:22] Zoey-dev commented on #128
HI @rudolphpienaar  I am an outreachy intern, I would like to work on this issue.
Could you please give me more details and assign this to me?

[2021-04-03 15:29] PintoGideon commented on #128
Hi @Zoey-dev , This issue is now solved. We may have missed out on closing this.

[2021-04-03 15:30] #128 closed

[2021-04-03 15:45] Zoey-dev commented on #128
Oh okay @PintoGideon.Thanks.  Can i work on issue #131 ?

[2021-04-03 15:46] Zoey-dev commented on #207
Or @PintoGideon this issue?

[2021-04-04 21:48] Zoey-dev commented on #207
Thank you

[2021-04-06 08:52] Zoey-dev commented on #207
@PintoGideon can i create a new branch for this?

[2021-04-06 15:05] jennydaman commented on #207
You should create a fork of the repository and then create a branch off of your fork. Let me know if you need help.

[2021-04-06 15:27] Zoey-dev commented on #207
Okay @jennydaman thank you.

[2021-04-06 15:45] Zoey-dev commented on #207
@jennydaman i have done the forking and cloned my fork and then i updated the env file and input the link that points to the api but then node_modules are missing and its causing errors in the component. i ran npm install and there were errors

[2021-04-06 15:56] Zoey-dev commented on #207
this is the error i keep getting when i run npm install.:

npm WARN @babel/plugin-bugfix-v8-spread-parameters-in-optional-chaining@7.13.12 requires a peer of @babel/core@^7.13.0 but none is installed. You must install peer dependencies yourself.
npm WARN bootstrap@4.6.0 requires a peer of jquery@1.9.1 - 3 but none is installed. You must install peer dependencies yourself.
npm WARN rc-picker@2.5.10

[2021-04-06 15:57] PintoGideon commented on #207
Hey @Zoey-dev , What version of node are you using ? Also, could you please send me a screenshot of the errors you are seeing?

[2021-04-06 15:59] PintoGideon commented on #207
Ohh @Zoey-dev , those are just npm warnings.The UI should instantiate in your browser at the port 3000.

[2021-04-06 15:59] Zoey-dev commented on #207
my version is v14.16.0

[2021-04-06 16:00] Zoey-dev commented on #207
okay so i should just run npm start and ignore them.? my node_modules are still not showing

[2021-04-06 16:00] PintoGideon commented on #207
Looks good to me @Zoey-dev . Do you see this screen ?

![Successful_Instantiation](https://user-images.githubusercontent.com/15992276/113741473-affe3000-96cf-11eb-93b0-d15457d1a4d7.png)

[2021-04-06 16:01] PintoGideon commented on #207
Yes @Zoey-dev . Run `npm start`.

[2021-04-06 16:03] Zoey-dev commented on #207
it is still starting the development server, haven't seen this yet

[2021-04-06 16:07] Zoey-dev commented on #207
yayyyy, it compiled successfully

[2021-04-06 16:08] PintoGideon commented on #207
Good job persisting with this and making it work for you. @Zoey-dev

[2021-04-06 17:09] Zoey-dev commented on #207
Thank you. Is it okay to reach out if i have other challenges?

[2021-04-06 18:44] PintoGideon commented on #207
Yes @Zoey-dev , Let me know if you run into issues,

[2021-04-06 21:49] PintoGideon commented on #209
Hi @roshnaeem , were you able to setup the UI on your system? Any update on this issue?

[2021-04-06 22:07] yvan237 commented on #100
Hey @DivyanshiSingh I am an outreach applicant, can I work on this issue?

[2021-04-07 06:56] roshnaeem commented on #209
Hello @PintoGideon , yes I have set up the UI, I'll start working on it on weekend.

[2021-04-07 10:34] Zoey-dev commented on #207
🙈  I can't find this page. How do i navigate to the page so i can see if the changes i made are working. I mean the "ChRIS Output Viewer" page

[2021-04-07 10:46] jennydaman commented on #207
@Zoey-dev you need to create a feed with some data. Are you using `cube.outreachy.chrisproject.org` or a locally running backend?

One way to get some data would be to run FS plugins. For example, [pl-mri_sag_anon_192](https://chrisstore.co/plugin/35)

[2021-04-07 11:05] Zoey-dev commented on #207
I have "https://cube.outreachy.chrisproject.org/api/v1/" in my .env file pointing to the api.

[2021-04-07 11:10] jennydaman commented on #207
I've installed the plugin `pl-mri_sag_anon_192` on that backend already. Please try running it.

[2021-04-07 11:34] Zoey-dev commented on #207
There are about 5 feeds being displayed.

[2021-04-07 11:35] jennydaman commented on #207
@Zoey-dev I take that as a good thing?

[2021-04-07 13:10] PintoGideon commented on #209
Sounds great @roshnaeem

[2021-04-07 14:38] mairin commented on #102
@khushishikhu Ah! Sorry about that it looks like we didn't have the sample data loaded in when you ran it. Can you try it again now that the sample data is loaded? Here's a testing script from our upcoming user testing that you could follow for running through it on your own:

1. Create new COVID-Net predictive analysis via patient MRN. Create one for each patient type (Normal, Pneumonia, and COVI

[2021-04-07 15:39] Zoey-dev commented on #207
Yes it is. Thanks

[2021-04-07 17:11] khushishikhu commented on #102
@mairin Sure I will try the testing again from the information you have provided me Thank you for that.
No, I currently don't know any browser testing platform but I will research about is and will let you know what can be done according to my research. Also I have a doubt that here I have tested in Microsoft Edge but you have asked to do in Internet explorer which is for that I think we need to f

[2021-04-07 17:55] zrthxn commented on #209
@PintoGideon I think this is a pretty simple fix, is it okay if I complete this right now? Asking since you've assigned it.

[2021-04-07 18:20] mairin commented on #131
@Zoey-dev is working on this one, but for some reason I am unable to assign it to her.

[2021-04-07 20:26] Zoey-dev commented on #207
@PintoGideon please could you review the PR and let me know if there are more things i should work on

[2021-04-07 20:28] Zoey-dev commented on #131
Hello, can i get a little more description on this?

[2021-04-07 20:33] PintoGideon commented on #207
Hey @zoey-dev, Sure. I can think of a few issues that need to be tackled. I'll add them tomorrow and feel free to pick one of those up. I'll review your PR in the meanwhile.

Good job in getting this all figured out.

[2021-04-07 21:03] Zoey-dev commented on #207
Thank you very much

[2021-04-07 23:05] jennydaman commented on #207
@PintoGideon what changes have you made in the past week? The "Current" screenshot in the first comment of this issue is not accurate to the 2021-04-06 update.

![comfortable screenshot](https://user-images.githubusercontent.com/20404439/113945301-140a1c80-97d4-11eb-9dd1-c28f45adee7a.png)

![narrow screenshot](https://user-images.githubusercontent.com/20404439/113945339-26845600-97d4-11eb-859a-878

[2021-04-08 12:59] PintoGideon commented on #207
Hey @jennydaman , I was working on this issue originally before it was assigned to @Zoey-dev . I made a few edits to the layout of the tools, but did not add media queries. It was then assigned to @Zoey-dev .

[2021-04-08 15:43] #209 closed

[2021-04-08 16:00] mairin opened #220 "Update background graphic for ChRIS UI login screen"
This ticket involves updating the background on this screen:
![Screenshot from 2021-04-08 12-03-45](https://user-images.githubusercontent.com/799683/114059573-7f9acb00-9862-11eb-88e4-b26e678bf884.png)

Fixing this issue will include the following tasks:
- [ ] Use optipng or a similar tool to optimize the background graphic (attached below)
- [ ] Create scaled versions of the graphic for the variou

[2021-04-08 16:17] zrthxn commented on #220
@mairin I'd like to work on this if that's alright.

[2021-04-08 16:41] mairin commented on #220
@zrthxn Sure thing!

[2021-04-08 16:58] zrthxn commented on #220
Just one question, do you think it's necessary in this case to optimize the graphic? Because the total size of all the image files (for all sizes) is currently coming out to be about equal to that of the largest one we had previously (x2000). So the load time gained by optimization would be very small.

[2021-04-08 17:17] mairin commented on #220
@zrthxn Yep I do! It doesnt hurt at all and takes like 10-15 min unattended.

[2021-04-08 19:46] mairin commented on #131
@Zoey-dev it looks like this one somehow got fixed in the meanwhile (neither myself or Jennings could reproduce) so I am just going to close it out. Sorry for the confusion!

[2021-04-08 19:46] #131 closed

[2021-04-08 22:34] Zoey-dev commented on #131
Its fine. Thanks

[2021-04-09 03:41] jennydaman opened #222 "Custom messages for backend error codes"
Error codes, e.g. `CODE01`, are provided to explain why jobs are cancelled.

https://github.com/FNNDSC/ChRIS_ultron_backEnd/blob/d2ed29ef95c390f7b04ea5e56d61cbd19929135e/chris_backend/plugininstances/services/manager.py#L144

[2021-04-09 15:21] Aaishpra commented on #206
Hey, @jennydaman @PintoGideon I see no updates, can I take this up?

[2021-04-09 15:33] PintoGideon commented on #206
Hey @somya51p , Any update on this ?

[2021-04-09 15:41] somya51p commented on #206
@somya51p I had started working, just need some time.

[2021-04-09 16:41] PintoGideon commented on #206
No worries @somya51p

[2021-04-10 05:56] jennydaman opened #223 ""Latest news" or welcome screen"
Currently, the home page is mostly empty with one box that just says

It can be populated to feature recent news, perhaps similar in design to a newspaper cover. For example, it can feature the latest plugins which have been uploaded to ChRIS_store, or discuss our collaborations and partnerships (Outreachy, Mass Open Cloud).

[2021-04-10 06:18] Aaishpra commented on #223
Hey @jennydaman can i take this up?

[2021-04-10 08:44] archanaserver opened #224 "A few improvements in the documentation structure"
**Current Structure:**
The documentation is good and clean. It's showing that we can setup this project locally by following few steps but that is bit confusing.

**What improvement this need?**
So, I want to make few things clear that, while starting UI development if we can add the alternative method too- like using `node/yarn` or you can do this setup using `docker` too.

[2021-04-10 08:45] archanaserver commented on #224
Hi @jennydaman can you please assign in with this issue? I want to work on that.

[2021-04-10 23:59] jennydaman opened #225 "Post-login destination"
Let's say I click on the URL

https://app.chrisproject.org/feeds/3

It's going to redirect me first to https://app.chrisproject.org/login
After logging in, I am taken back to the home page instead of `/feeds/3`

The proposal is to implement a redirect to some login page with a query string like

[code]

And then after logging in, automatically navigates to desired page.

[2021-04-11 06:34] jennydaman commented on #223
Sure.

This was an idea that has been floating in my head for a little while but haven't had time to do it. As with anything related to UX design, ideas should be run by @mairin first. Mairin, what do you think about it? Maybe like what this website has (scroll down past the birthday announcement, to the cards about news, events, ...) https://galaxyproject.org/

@Aaishpra I leave the responsibilit

[2021-04-11 06:56] jennydaman commented on #224
Sure.

I suggest that you include a link to [miniChRIS](https://github.com/FNNDSC/miniChRIS) as it is easier than the current documentation on how to start the backend for development purposes.

[2021-04-11 07:07] archanaserver commented on #225
I got it, can I work on this issue @jennydaman ?

[2021-04-11 07:13] archanaserver commented on #224
Yes sure! I got it, i'm working on it. 👩🏻‍💻

[2021-04-11 09:15] Aaishpra commented on #223
Thank you so much for adding these @jennydaman I was thinking to ask for more details for the content part of the homepage.
So I had a look at the Homepage and I guess I would like to remove that info alert "Welcome to the ChRIS UI Dashboard" from there instead add a bold Heading in the place. After that can we give a little bit of introduction about what ChRis UI is and its features, not much jus

[2021-04-11 14:29] jennydaman commented on #223
The design here seems delicate, I think it will be important to avoid clutter (my example at https://galaxyproject.org is cluttered, it's just an example of what I mean and not an example to copy or get inspired by) and try to keep an inviting tone.

An introduction to ChRIS_ui would be great. Here's some content ideas:

- Just visiting? Try the demo user account `chris:chris1234`
- Get started by

[2021-04-12 14:36] PintoGideon opened #227 "Design Improvements in the File Browser"
Avoid a row wrap for long file names in the table.

![Row_Wrap](https://user-images.githubusercontent.com/15992276/114411215-fb09be80-9b79-11eb-9ccd-af4f60874ac6.png)

Add consistency to the preview screen across all formats (.jpg, .dcm, .html, .txt). For example: No scrollbar is seen for a .dcm, but a scrollbar is seen for .jpg.

**DCM:**
![Row_Wrap](https://user-images.githubusercontent.com/1599

[2021-04-12 14:38] PintoGideon commented on #227
Remove the cursor on the breadcrumbs, that are not clickable.

[2021-04-12 22:18] PintoGideon commented on #100
Steps to reproduce this issue:

1. Click on the 'create feed' button once you login.
![Step_1](https://user-images.githubusercontent.com/15992276/114469266-cd913500-9bba-11eb-903b-c6e7788777cf.png)

2. Provide a name to the feed and click 'next'.
![Step_2](https://user-images.githubusercontent.com/15992276/114469392-0f21e000-9bbb-11eb-8c62-058f1554c44c.png)

3. Choose the option 'Upload new files

[2021-04-12 22:40] yvan237 commented on #100
From this explanation above, I understood the task is about getting the image that has been uploaded and displaying it alongside the name of the image in the UI [File attached below].
So I faced issues displaying the image blob after getting it from the server.

It seems I didn't understand properly.
<img width="731" alt="Screen Shot 2021-04-12 at 23 36 43" src="https://user-images.githubuserconte

[2021-04-12 22:44] PintoGideon commented on #100
Oh, that feature already exists right ? If you click on the image, you should see a preview right ?

![Before](https://user-images.githubusercontent.com/15992276/114471711-10550c00-9bbf-11eb-88f8-b55d0ddd2cde.png)

[2021-04-12 22:47] yvan237 commented on #100
Yeah I can see the preview, I will move on with the correction.

Thanks a lot @PintoGideon

[2021-04-12 22:59] PintoGideon commented on #100
No worries @yvan237 , Also, hold off on this issue. This is not fleshed out completely. I'll assign you with an alternate issue.

[2021-04-12 23:10] PintoGideon opened #228 "Add the functionality to 'toggle' the panels in the 3d graph layout."
Steps to reproduce this issue:

![Default_layout](https://user-images.githubusercontent.com/15992276/114473392-21ebe300-9bc2-11eb-8f09-13b966de5ac6.png)

When you, toggle the side panel by clicking on the 'x' button, the side panel disappears. Similarly, you can click on the 'button' to display it again. You can see a similar behavior for the bottom panel.
![Toggle_Side_Panel_1](https://user-image

[2021-04-12 23:18] PintoGideon commented on #228
@yvan237, You can work on this issue.

[2021-04-12 23:26] yvan237 commented on #228
Thanks very much, I will work on this and I will get to you if I have any issues.

[2021-04-13 03:51] jennydaman commented on #166
I found the problem.
https://github.com/FNNDSC/ChRIS_ui/blob/4c8564572be56c254abf0ce399f1d1a850618760/src/assets/scss/components/_background-image.scss#L22

It is a known issue that Firefox does not support `filter` in the same way the Chrome/Chromium does.
Well, this is a strange use anyway. It looks like @PintoGideon was playing with this, given there's a commented out line of code above. Is the

[2021-04-13 03:56] jennydaman commented on #166
@somya51p you may wish to investigate this and consider some refactoring. Background image definition is all over the place

- `assets/scss/components/_background-image.scss`
- `pages/LogIn/login.scss`

My guess is that the purpose of `assets/scss/components/_background-image.scss` is to be generally useful anywhere we want to give a component a background image. In our [design mockups](https://gi

[2021-04-13 03:58] jennydaman commented on #166
Interesting observation! When I opened the link above to the design mockups, Github converts the SVG into PNG and displays that on the webpage. But opening the raw SVG in a new file, Firefox fails to show the background image for the appbar.

[2021-04-13 03:59] somya51p commented on #166
@jennydaman I will go through it and try to resolve it as soon as possible. Thanks for the help.

[2021-04-13 04:06] jennydaman commented on #166
@somya51p no rush! I think we should pause to think about what the best way to do things would be and try to keep our code clean. After all, part of why this but wasn't straightforward is because it was hard to find `assets/scss/components/_background-image.scss`. Aside from refactors, would you help us write some comments?

It might be a good idea to base your changes off of a fork of https://git

[2021-04-13 04:10] somya51p commented on #166
Yeah sure @jennydaman.

[2021-04-13 10:03] zrthxn commented on #222
Are these error codes returned in the HTTP response? From the file you link it looks like they're being logged to the console.

[2021-04-13 17:42] somya51p opened #230 "Show Password functionality in login page"
The signup page has the functionality of show passwords, what if the login page also has this functionality. I wish to work on this issue. Please go through it. @jennydaman @PintoGideon

[2021-04-13 19:07] mairin commented on #100
@PintoGideon FWIW, your comment here outlines the original intent of this bug perfectly:
https://github.com/FNNDSC/ChRIS_ui/issues/100#issuecomment-818279295

[2021-04-13 20:19] PintoGideon commented on #227
Currently, the breadcrumb shows the swift path of the current 'data' folder in the file browser.

In the example below, it would be ideal to show the path from the root node to the selected node instead, so that the user can use the breadcrumb to navigate the feed tree.

![Breadcrumb](https://user-images.githubusercontent.com/15992276/114615336-8fa41780-9c73-11eb-8739-e863c2c3e9fa.png)

[2021-04-13 21:09] jennydaman opened #231 "Docker entrypoint to overwrite REACT_APP_CHRIS_UI_URL in docker image"
The ChRIS_ui takes a long time to build, so using the build off of DockerHub is faster. However, `REACT_APP_CHRIS_UI_URL=localhost:3000` is compiled into the static `build/` files.

For convenience, we could provide a `docker-entrypoint.sh` as `ENTRYPOINT` which uses `sed` (or the like) to overwrite in the static `build/` dir the backend's URL with something given at runtime. e.g.

[code]

[2021-04-13 21:33] jennydaman commented on #222
They are returned in the http response.

Good observation. I did a search on the codebase for what the codes are (because I don't know where they're documented.)

You can try producing `CODE01`, either with fast fingers, or a simple script. I think it'll trigger if you try cancelling a plugin immediately after submitting it to run.

[2021-04-13 23:27] jennydaman commented on #230
Have at it.

I would consider using an icon, right-aligned in the box, and maybe show the password only as the button is being held down (hiding on mouseUp).

[2021-04-13 23:48] #207 closed

[2021-04-14 12:22] zrthxn commented on #230
@jennydaman Patternfly already has this functionality built-in. Its only an attribute to add in the LoginForm component. It'll probably be add in the fix for #221 in which I'm fixing the login page layout.

[2021-04-14 14:44] Zoey-dev commented on #222
@jennydaman hello, is this issue about displaying error messages from the back end on the front end?

[2021-04-14 22:45] mocktarissa commented on #231
Hello @jennydaman I'm an Outreachy Applicant can I have a go with this?

[2021-04-14 22:47] jennydaman commented on #231
@mocktarissa Absolutely.

It's either a quick fix, or a good chance to learn Linux and Docker. hmu on slack if you need help.

[2021-04-14 22:48] mocktarissa commented on #231
OK, i will get on it.

[2021-04-14 23:06] jennydaman commented on #222
@Zoey-dev correct

[2021-04-14 23:16] Zoey-dev commented on #222
Okay, could you assign this task to me?

[2021-04-14 23:19] Zoey-dev commented on #222
Thanks

[2021-04-15 00:35] PintoGideon commented on #227
The solution to the breadcrumb problem will be fixed in a separate issue.

[2021-04-15 00:52] PintoGideon commented on #227
The current status of the breadcrumb is this:

![Current_Breadcrumb](https://user-images.githubusercontent.com/15992276/114797612-96a95380-9d61-11eb-933b-809ed54ff8d9.png)

The ideal implementation is to have the breadcrumb reflect the path from the root node to the current plugin. This feature can be constructed using the descriptor `'output_path'` in the selected plugin's payload.

The `outout_p

[2021-04-15 00:52] #227 closed

[2021-04-15 02:13] PintoGideon opened #234 "Add support for 'ts' plugins"
1. Achieve separation of concerns between `"Adding a TS Node"` and `"Adding a Child Node"`.

2. The feed tree needs to show some indicator that the node is a TS node. The current screenshot shows that the `pl-topologicalcopy` only has one previous_id. To show some indicator that the `pl-topologicalcopy` was run on three instances of the plugin, we can query the plugin for it's parameters and show

[2021-04-15 13:00] #206 closed

[2021-04-15 19:26] #220 closed

[2021-04-16 04:10] #224 closed

[2021-04-16 06:21] jennydaman opened #241 "cornerstone.js viewer does not support .nii.gz file"

[2021-04-16 10:25] Zoey-dev commented on #222
@jennydaman hello, I'm thinking of making use of toast for this task.
What do you think?

[2021-04-16 10:31] jennydaman commented on #222
Toasts are like a temporary notification, though these errors happen and are permanent.

Maybe the error should be reported in the terminal window, or appear in a pop-up when clicking on the node details.

[2021-04-16 15:10] #241 closed

[2021-04-16 15:19] PintoGideon opened #243 "Stack scroll disclaimer in the preview screen for nifti files."
Hey @jennydaman ,

For nifti files, you can use a mouse scroll to view the images in the stack. It may not be too obvious for a user so we could add a small text mentioning that. Let me know what you think.

![Stack_Scroll](https://user-images.githubusercontent.com/15992276/115046245-3fac9700-9ea5-11eb-8abc-2f2af147ffda.png)

[2021-04-16 16:27] rudolphpienaar commented on #243
Just be aware that not all nifti files are stacks/volumes so adding text based only on filetype could have unintended consequences. I'm inclined to think a bit that the scroll bar hint as well as the text in the bottom left of `1/288` are sufficient. But I'm operating from the experience that nii files can be vols.

I might suggest that a maybe a mouse-over hint for the case where there is a scoll

[2021-04-16 17:51] #166 closed

[2021-04-16 19:31] Zoey-dev commented on #222
Hmm, okay.

[2021-04-19 00:52] mocktarissa opened #244 "There is no feedback when the server is down"
When Trying to Log In or Sign Up while the backend server is down there is no real feedback about what is happening.
- The Sign Up page screen Actually stays in a Loading state forever.
- The login page Screen just says invalid Credentials.

[2021-04-19 09:23] Zoey-dev commented on #222
@jennydaman Hi, I'm having a little difficulty understanding what to do. I don't understand the source of the error and where to expect them. Do they occur as a result of http requests, if yes is there a mock up screen for how the message should be displayed.

[2021-04-20 06:34] somya51p opened #248 "Convert class components to function components"
Most of the pages are written using function components but few are written using class components. It would be better if all are converted to react-hooks.
Starting with pages like `NotFound.tsx` and `BasicConfiguration.tsx`.
Should I work on this issue?

@PintoGideon @jennydaman Please correct me if I am missing out on something.

[2021-04-20 10:53] mocktarissa commented on #248
Yes I am already working on that I will submit a PR as soon as I'm done.

[2021-04-20 20:01] jennydaman commented on #222
We don't have any mockups for this feature, it would be up to your creativity.

The error codes are not a result of http requests, but instead backend errors, e.g. if the backend for whatever reason is unable to run a job.

Please try running `pl-is-broken`, which should cause an error message.

[2021-04-20 20:09] #230 closed

[2021-04-20 20:29] jennydaman commented on #248
Duplicate of https://github.com/FNNDSC/ChRIS_ui/issues/206

[2021-04-22 06:31] somya51p commented on #248
@jennydaman  In that issue, we have converted 4 pages, I have created this issue to work on other pages.

[2021-04-22 12:21] Zoey-dev commented on #222
@jennydaman  please is it possible to schedule a call?

[2021-04-22 14:45] PintoGideon commented on #222
Hi @Zoey-dev , Sorry for the delay in response from my end. I have listed down the steps to reproduce this issue. I am assuming that you have an UI instance up and have it pointing to the correct api endpoint.

**Step 1:**

Assuming you have access to a feed, you can add a node that finishes with the cancelled state. I am listing down the steps to do that , but you should already see a node with a

[2021-04-23 04:40] jennydaman commented on #222
@PintoGideon that is super useful.

@Zoey-dev my schedule has some gaps but it's a bit messy. When works for you? Please reach out on slack.
https://slack.babymri.org

[2021-04-24 10:30] somya51p commented on #45
Hey @mairin @PintoGideon. Can I take up this issue to work on?

[2021-04-25 12:47] #231 closed

[2021-04-25 20:19] #244 closed

[2021-04-29 15:41] Zoey-dev commented on #222
Hi @PintoGideon so this issue is a bit more challenging than i thought. So maybe you could help work me through my thought process. I am trying to use Error boundaries, you know. Create an Error boundary then wrap the code around it to capture these errors and display them. But then i would need this errors in one place or something.

What do you think?

[2021-05-04 14:43] PintoGideon commented on #222
Hey @Zoey-dev , Sorry I missed out on this. We don't need an error boundary here. Error Boundaries are usually used to catch JavaScript errors inside components which corrupt React’s internal state and cause it to emit cryptic errors on next renders.

The error to be displayed in our case occurs when the execution of the plugin fails. The plugin's status changes to 'finishedWithError' or 'cancelle

[2021-05-07 15:59] Zoey-dev commented on #222
Hey @PintoGideon so i have followed all the steps and i am not getting any error message on my end. Let me share a screenshot of the what i am getting

![Screenshot 2021-05-07 at 4 55 09 PM](https://user-images.githubusercontent.com/59091045/117477147-8d249d00-af55-11eb-9f59-d390c3528bcd.png)

[2021-05-07 22:08] jennydaman opened #255 "Upgrade to node v16.0.0"
During `npm i`, `node-gyp` fails to compile `node-sass` on `node` version 16.0.0

[2021-05-17 23:08] #222 closed

[2021-05-17 23:08] #255 closed

[2021-06-02 18:23] zrthxn opened #265 "Partial text search for patient name and ID"
Implementation of partial text search within the initially fetched results to allow studies or patients to be fetched by part of a name or part of a patient ID.

Eg
- Search for "032" should match "PAT000032"
- Search for "Do"/"Joh" should match "John Doe"

[2021-06-17 17:15] jennydaman opened #267 "Export pipeline as JSON feature"
Feed view should have a button "Export" which creates a JSON representation of the selected DS plugins as part of a reproducible workflow, aka pipeline. This JSON file can be uploaded to the ChRIS store via POST request. Example:

https://github.com/FNNDSC/CHRIS_docs/blob/master/pipelines/fetal_brain_reconstruction.sh

A corresponding feature in ChRIS_store_ui is supporting import of these JSON re

[2021-06-18 13:17] jennydaman commented on #267
Ideas for iteration: MVP: select one plugin, it and all its children are saved as a plugin.

Reach goal: allow selection of multiple plugins, assert selections represent a DAG, and save that.

[2021-06-18 14:02] jennydaman opened #268 "Pipeline browser"
Create a new tab in the ChRIS_ui which shows a list of existing pipelines in ChRIS.

The view should render pipeline tree structure previews.

https://github.com/FNNDSC/cube-design/blob/master/CHRIS-UI/Pipeline724.svg
https://github.com/FNNDSC/cube-design/blob/master/CHRIS-UI/pipeline-list_mobile.svg
https://github.com/FNNDSC/cube-design/blob/master/CHRIS-UI/individual_pipeline_details718-pipeline

[2021-06-18 14:07] jennydaman opened #269 ""Drag-and-drop" pipeline creation screen"
Create a new feature where pipelines can be created without actually having to run plugin instances.

We should explore a "drag-and-drop" user interface. A side panel contains plugins which are dragged into the central workspace. Parent-child relationships between nodes should be determined based on the location of where plugins are dragged to. For example, if plugin B is dragged underneath plugin

[2021-06-21 14:37] rudolphpienaar opened #270 "Running / testing"

[2021-06-29 07:10] zrthxn opened #273 "Prevent app crashes on ChRIS API error"
The application crashes while browsing the file tree in the feed creation wizard. Theres no problem in the app itself but if the API returns anything other than status 200, or throws an error the app will crash.

![Screenshot from 2021-06-29 12-34-51](https://user-images.githubusercontent.com/35369637/123752762-c1be3080-d8d6-11eb-9047-c429e3b590e7.png)

### Expected Behavior
The error should be ha

[2021-06-29 07:14] zrthxn commented on #273
In both of these examples, I think catching the error just to re-throw it, isnt a good idea if there isnt any error handling in the calling function. Maybe these catches can instead trigger some sort of notification, like in the Store UI.

https://github.com/FNNDSC/ChRIS_ui/blob/a8e39baec89b538588a0e5f50fc95a31b6934a60/src/components/feed/CreateFeed/utils/fileSelect.ts#L169-L173

https://github.co

[2021-06-29 23:01] PintoGideon commented on #273
Hey @zrthxn , thanks for creating the issue.

Could you please list down your workflow so I can reproduce this on my end?

[2021-06-30 04:36] zrthxn commented on #273
@PintoGideon

- opened the feed creation wizard
- entered name and selected type "choose data already registered to ChRIS"
- open "user" folder in tree browser
- open "feed8" folder under user "Chris"
- app crashes

[2021-06-30 13:10] PintoGideon commented on #273
I'll work on a notification mechanism for these errors. Thanks for reporting this @zrthxn

[2021-07-03 23:53] #273 closed

[2021-07-26 11:45] zrthxn opened #287 "Opening any page/link in a new tab requires a new login"
After logging in, if one opens a link from the sidebar in a new tab (with "Open in New Tab") the app doesn't login automatically, as it should. Instead you have to re-login on the new tab

### Expected Behaviour
The app should login automatically, by remembering the auth token, saving it to local storage or as a cookie.

[2021-07-26 11:46] #265 closed

[2021-09-13 04:24] Hina-softwareEngineer commented on #223
Hello everyone,
I want to contribute to this codebase. I am new to this. Can I work on this issue? or  Do you have any idea regarding design of dashboard? You can share.

[2021-09-16 15:15] mairin opened #297 "Create mockup to help explore visual, clinician-friendly ways of choosing between workflows/pipelines"
This is what the workflows UI @PintoGideon has been working on looks as of right now:

![Screenshot from 2021-09-16 10-45-10](https://user-images.githubusercontent.com/799683/133637559-2b767b2a-ffef-418c-9621-9f5dc0b9d9ae.png)

Workflows basically use pipelines as defined in the ChRIS spec for pipelines.... pipelines have a JSON file that defines them. Gideon's tree widget there reads in the JSON

[2021-09-22 03:52] mairin commented on #297
OK here's the first round of food for thought on the workflow selection bits.

**Workflow Screen:**
![Screenshot from 2021-09-21 23-39-03](https://user-images.githubusercontent.com/799683/134280786-3002ab73-053e-4cfd-aef1-fcd89b93c965.png)

**Compute Env Options for Single Env**
![Screenshot from 2021-09-21 23-39-16](https://user-images.githubusercontent.com/799683/134280796-5354469a-5076-4e49-a03

[2021-09-24 19:53] jennydaman opened #300 "Welcome tour, tutorial video, or getting started guide"
There should be some kind of introductory material presented to the user to explain basic concepts (feed, plugin, file) and the UI layout (sidebar, library, feeds list) e.g.

## Welcome Tour

A modal (pop-up), very common on popular web apps, should be shown once when a new user logs in.

A "tour" feature (which highlights components of the UI, showing a modal explaining the component) would be mo

[2021-09-27 19:41] jennydaman commented on #300
https://chrisproject.org/for-users

[2021-09-28 17:45] jennydaman commented on #300
A better idea than #223

[2021-09-28 17:55] mairin commented on #300
Glossary of terms for creating this:

- feed
- plugin
- workflow
- pipeline
- app (like covidnet)

[2021-09-28 17:56] mairin commented on #300
The help needed here for good first issue would be working on a way to present these concepts inside the ChRIS UI

[2021-09-28 17:58] jennydaman commented on #300
Advanced implementation would use "feature discovery" feature, e.g. https://materializecss.com/feature-discovery.html (is there a Patternfly-compliant version of this?)

[2021-10-05 21:02] OladapoAjala commented on #300
Hello @jennydaman @mairin can I be assigned this task?

[2021-10-06 06:20] #287 closed

[2021-10-09 15:46] jennydaman opened #304 "Use Github Actions to automatically build Container Images"
DockerHub autobuild is no longer part of their free tier.

Many of our other repositories are tested and built in Github Actions.

- https://github.com/FNNDSC/pfcon/blob/master/.github/workflows/ci.yml
- https://github.com/FNNDSC/pman/blob/master/.github/workflows/ci.yml
- https://github.com/FNNDSC/caw/blob/main/.github/workflows/container.yml

Use these examples to implement automatic container b

[2021-10-11 16:52] zrthxn opened #305 "Register `serviceWorker` in production builds"
There exists a `serviceWorker` module in the `src` directory. Register this service worker to prevent the production version have to reload the whole JS bundle (and other static resources) repeatedly, reducing load times. Although browsers do cache the static bundle, this doesn't always work.

However this should only be so in the production build. In development, this will become a hinderance.

[2021-10-11 21:43] EUGINELETHAL commented on #304
@jennydaman can I take up this?

[2021-10-14 19:57] mairin opened #307 "Implement scale nodes via output size"
Right now if you view an analysis, you can click on the "Scale nodes on" switch in the upper left quadrant. Right now it provides a dropdown to let you switch between scaling the node size by "compute time"or "output size." Compute time is implemented, but output size is not yet implemented.

[2021-10-14 19:58] mairin opened #308 "Analysis details page isn't responsive / mobile friendly"
Test for responsiveness and adjust so the page scales better in smaller browser windows / mobile.

See here https://app.chrisproject.org/feeds/1485

[2021-10-14 19:58] mairin opened #309 "Move "switch layout" button in analysis details screen"
the analysis details page has a "Switch Layout" button in the upper right panel. This button makes more sense in the graph view panel in the upper left panel. It would be good to move this button from the upper right to the upper left panel (for example see https://app.chrisproject.org/feeds/1485)

[2021-10-14 19:59] mairin opened #310 "Padding adjustments for create new feed/analysis UI"
walk through the Create New Feed UI (visit https://app.chrisproject.org/feeds and click on "Create New Analysis") has some screens that are missing padding on the right side. Padding needs to be added.

[2021-10-14 19:59] mairin opened #311 "Line up quadrants on the feed details screen"
currently the divider between the top two panes is slightly off-center from the divider between the bottom two planes (see https://app.chrisproject.org/feeds/1482)

[2021-10-14 21:31] Akpjunior94 commented on #309
Thanks

[2021-10-15 06:39] ppk-1996 commented on #308
@mairin Can I be assigned to this issue?

[2021-10-15 07:27] ppk-1996 commented on #310
@mairin I'll work on this too.

[2021-10-17 10:09] ppk-1996 commented on #307
I made the PR regarding to this issue. However, I am not sure what output size really means so I put the number_of_workers from the data. Please let me know any changes require.

[2021-10-17 14:05] ppk-1996 commented on #311
I have made the PR for this issue.

[2021-10-17 16:25] EUGINELETHAL commented on #307
@mairin can you assign to work on this issue?

[2021-10-19 08:57] #305 closed, assigned to nobody

[2021-10-19 16:49] zrthxn opened #316 "Better, faster and lighter file browser"
The current My Library file browser does not scale well to the number of files in a production ChRIS environment. This must be fixed with a paginated, faster and more agile (i.e. less prone to errors) browsing system, which can also be customized in how it looks for different file types (i.e. feed files, pacs files etc)

[2021-10-21 05:00] #311 closed

[2021-10-21 23:38] EUGINELETHAL opened #319 "Extend PACS lookup with Study/Series Description filters"
Improve PACSLookUP  to  enable  searching by study descriprion and by FileNME

[2021-10-24 12:13] zrthxn opened #326 "Typescript config has outdated value for `jsx` in `compilerOptions`"
This causes the following error
[code]

Cause
https://github.com/FNNDSC/ChRIS_ui/blob/ecf81ad78bb9783b3e7ed098887a8beab4d69f95/tsconfig.json#L21

Fix
[code]

[2021-10-25 14:59] #326 closed, assigned to nobody

[2021-10-25 15:36] oluwatunbi opened #328 "Adjusting the buttons upload a Directory and upload files in virtualization page."
Virtualization page under DICOM viewers the button upload a Directory and upload a file is close to the upper border and no spacing between the buttons. Needs adjustment ( https://app.chrisproject.org/visualization )

[2021-10-26 05:17] EUGINELETHAL opened #332 "Improve Feed Filter"
Currently the feed filter/search only supports searching with 'name startswith' which is also case-sensitive i.e if I search for 'Tractography Study with 'tracto" or 'study', I will not be able to get any results

[2021-10-27 08:21] #332 closed, assigned to EUGINELETHAL

[2021-10-27 15:21] #308 closed, assigned to ppk-1996

[2021-10-27 15:24] #328 closed, assigned to oluwatunbi

[2021-10-27 19:03] #310 closed, assigned to oluwatunbi, ppk-1996

[2021-11-09 20:20] bolajahmad commented on #319
is this an issue we're working on? did you complete the issue yet, to filter the data on the frontend.
i would like to check this out, if you're working on it @EUGINELETHAL . i'll assume it's  still open with no replies.

[2021-11-10 08:37] EUGINELETHAL commented on #319
@boljahamad, yah  I am still working on it.  I will update you on the
progress

On Tue, Nov 9, 2021 at 11:20 PM bolajahmad ***@***.***> wrote:

[2021-11-10 09:01] EUGINELETHAL commented on #304
@zrthxn am not sure but looks like this issue was worked on by @Sandip117 on this commit https://github.com/FNNDSC/ChRIS_ui/commit/8590fac45cea3b4ae4f14dfae6c721c57f33bcae

[2021-11-11 10:13] zrthxn commented on #304
@EUGINELETHAL yes it was.

[2021-11-11 10:13] #304 closed

[2022-01-10 19:30] PintoGideon opened #341 "Pipelines Feature"
1. Debug Pipeline Upload using Json.
2. Create a Feed consistently with the uploaded pipeline
3. Create a Feed from the pipeline in the pipeline catalog
4. Add a pipeline once the Feed is created from the Node Details Panel.
5. Error handling with pipelines

[2022-01-27 14:54] PintoGideon opened #344 "Analysis Catalog Page"
Add a plugin version and a search bar to the page for quick lookups.

[2022-02-03 21:26] mairin opened #352 "Add API methods to ChRIS Store to support displaying metadata from the ChRIS store in the core ChRIS UI for installed plugins"
The idea for this came from the ChRIS weekly status meeting on 27 Jan 2022.

The ChRIS Store has additional metadata for installed plugins that isn't available in the plugin definition file and so isn't available for display in the core ChRIS UI. For example, the ChRIS store has the README file for the plugin.

It would be very nice to have this additional metadata available to the ChRIS core UI,

[2022-02-04 16:24] PintoGideon opened #353 "Add a pipeline to a plugin instance"

[2022-02-06 10:24] janvi01 commented on #225
Hey, @jennydaman is this issue still available?

[2022-02-06 21:40] jennydaman commented on #225
@janvi01 This feature is done, thanks for asking.

[2022-02-06 21:40] #225 closed

[2022-02-07 06:00] janvi01 commented on #309
Is this issue still available?

[2022-02-16 21:36] mairin commented on #309
![Screenshot from 2022-02-16 16-33-46](https://user-images.githubusercontent.com/799683/154361142-7b33de79-bf83-4586-8e7e-36c9a7ac301e.png)
 in case it is helpful, this is a screenshot showing what needs to be done to complete this ticket!

[2022-02-16 21:36] mairin commented on #309
@PintoGideon is this one fixed? I still see it on app.chrisproject.org?

[2022-03-09 00:50] jennydaman opened #361 "Trying to view a failed plugin causes screen to go white"
[code]

[2022-03-16 05:32] janvi01 commented on #309
Hey @mairin I am not able to set up chris locally to work on this issue.
Please guide me. Thanks!

[2022-03-25 20:30] atharmohammad opened #362 "[Docs] Installation Docs giving Error"
Command ```docker run --rm -it -v $PWD:/home/localuser -p 3000:3000 -u $(id -u):$(id -g) --userns=host --name chris_ui fnndsc/chris_ui:dev``` is giving error
[code]
Can admin confirm this issue , it is working for me if i run it using Quotes like below
[code]

[2022-03-25 20:33] jennydaman commented on #362
I'm guessing you have space characters in your `$PWD`?

Adding quotes around it is the way to fix it. But while spaces are legal characters in path names, it's typically frowned upon (because devs like me are too lazy to add quotes).

[2022-03-25 20:35] atharmohammad commented on #362
Okay , Thanks .. I will be closing this issue then !

[2022-03-25 20:35] #362 closed

[2022-03-26 06:12] atharmohammad commented on #344
Is this issue still open , I am already seeing search bar on the analysis catalog page for plugins,pipelines and compute. If it is still open can you give a little more explanation about the issue

[2022-03-26 13:37] reeshi-18 commented on #352
I would like to pickup this issue to contribute to this project as a part of Outreachy'22

[2022-03-26 14:31] yaya-usman commented on #309
@mairin I'll like to be assigned this issue, if @Akpjunior94 no more working on it

[2022-03-27 12:01] urviigupta commented on #309
Is this issue still available? I'd like to work on it @mairin

[2022-03-27 16:18] anayo-hub commented on #300
please can I be assigned to this issues!

[2022-03-27 16:29] anayo-hub commented on #307
please @mairin I would love to contribute to this issue if assigned to

[2022-03-28 15:57] jennydaman commented on #352
@mairin can you add more details about the proposed feature?

[2022-03-28 17:29] sejalsingh417 commented on #361
I would like to contribute, please assign it to me.

[2022-03-29 04:20] swagatikapanda123 commented on #45
Hey @marini I would like to contribute to this issue as a part of Outrichy 22. Please assign this task to me

[2022-03-29 04:45] swagatikapanda123 commented on #361
I would like take on this issue as a part of my Outrichy '22.

[2022-03-29 05:14] saabirin commented on #361
I would like To help Am new student

[2022-03-29 06:56] ShivraniAJ commented on #300
HI, I am Shivrani, I am selected as outreachy initial applicant, Please can you assign this issue to me?

[2022-03-29 08:02] saabirin commented on #300
Hello l'am I am selected as outreachy initial applicant, Please can you assign this issue to me?

[2022-03-29 08:15] imranburki commented on #300
I would love to contribute to this issue, if you please assign it to me.

[2022-03-29 14:34] rudolphpienaar commented on #300
Dear @imranburki  @saabirin @ShivraniAJ @anayo-hub --

This "issue" concerns building the welcome tour, a video about ChRIS, how to use and setup etc. It is probably not ideal for someone who is not familiar with the system and has never started it or worked with it.

While I welcome contributions to this, can each of you please explain why you think you can contribute to this?

Best

[2022-03-29 16:10] #361 closed

[2022-03-29 16:11] PintoGideon commented on #344
Hey @atharmohammad , This feature has been implemented

[2022-03-29 16:11] #344 closed

[2022-03-29 16:13] rudolphpienaar commented on #361
Please note this issue has been fixed/closer.

On 3/29/22 00:45, Swagatika wrote:

[2022-03-29 16:41] Prakashh21 opened #366 "Stray Paranthesis in left bottom of My analysis page in the ChRis dashboard"
Go to the **My analysis Page** in the **ChRis_ui dashboard** , go to the left most bottom , scroll if needed you'll se a Paranthesis.

![photo_2022-03-29_18-39-18-3](https://user-images.githubusercontent.com/90280586/160662039-6b4478ce-4b37-4b1c-8201-2f2fdb78ec6f.jpg)

[2022-03-29 16:52] #366 closed

[2022-03-29 16:54] jennydaman commented on #366
Fixed in #367

[2022-03-30 04:51] ShivraniAJ commented on #300
Yes, I am not familiar with the system right now, But I can definitely try

Yes, I am not familiar with the system right now, but I will try my best to get familiar with it as soon as possible and would like to collaborate with others on this issue.

[2022-03-30 19:12] Prakashh21 opened #368 "Broken Padding on "Choose Files..." button"
Broken Padding on "Choose Files..." button in Create New Analysis Page , When Trying to decrease the width of the screen.
![photo_2022-03-31_00-35-03-4](https://user-images.githubusercontent.com/90280586/160911825-37dc22d4-94c6-4985-927d-b0ddb4f3a85c.jpg)

[2022-03-30 20:56] ydv-sahitya commented on #368
can I take this?

[2022-03-31 03:40] arpit-maurya commented on #368
@ydv-sahitya - look loosely PR is already generate by @Prakashh21

[2022-03-31 03:43] arpit-maurya commented on #267
@sonylomo still you are working on this if not can you pass this issue to me @jennydaman

[2022-03-31 06:28] ydv-sahitya commented on #368
ok

[2022-03-31 20:27] tdogubo opened #370 "Uneven height for display cards on Dashboard/Overview"
![ChRIS Demo App - Google Chrome 03_31_2022 22_02_50](https://user-images.githubusercontent.com/71345102/161149247-6218c7ac-72d7-41bf-97f4-c22b66d19a38.png)

[2022-03-31 21:36] #370 closed

[2022-03-31 21:37] tdogubo commented on #370
Fixed.

[2022-04-01 05:12] jennydaman commented on #368
Closed by #369

[2022-04-01 05:12] #368 closed

[2022-04-01 11:43] ydv-sahitya opened #371 ""Patient ID or MRN" text not showing up in mobile version and Broken padding on (Pack Service orthanc) button."
'Patient ID or MRN ' on the PAC page. this text is not showing up. when trying in mobile version.  and the "Pack Service Orthanc button'  is broken where I am trying to decrease the width of the screen.

![Untitled-2022-03-02-0308](https://user-images.githubusercontent.com/37513489/161255594-83b54d01-cced-479c-8091-259ed05c32f0.png)

[2022-04-01 11:44] ydv-sahitya commented on #371
I am fixing these issues.

[2022-04-01 14:24] Prakashh21 commented on #371
Hey @ydv-sahitya did you tried recreating those bugs in the deployed project website -- https://app.chrisproject.org/login?then=/
I think they are already fixed , please check once because I also discovered those bugs , I also found those bugs but I was unable to recreate them in the deployed website.

[2022-04-01 15:18] Prakashh21 opened #372 "<Wrapper /> component getting Re-rendered in an endless loop"
**Steps to Recreate** : go to the **partner page** in the **collab** section and **Enter** any **invalid URL** , and c**lick submit** you'll see the the top navigation bar and side bar getting Re-rendered , one inside another , now again repeat the same steps , in the **inside (Re-rendered) sidebar** go to partner page and again enter invaild url and click submit , you will see the same thing whic

[2022-04-02 01:50] jennydaman commented on #309
@yaya-usman, @urviigupta, please ping me on Matrix if nobody is responding to your comments on Github.

This issue is open, and I will assign @yaya-usman to it. Yaya, if you would like to accept @urviigupta's help and collaborate on this issue, it would be to the both of your advantages.

Besides just moving the button, it should probably be styled differently. This is discussed a little in #312 :

[2022-04-02 03:06] Prakashh21 opened #375 "Items not aligned "Upload a Pipeline" button and "search box""
In the **Analysis catalog** page , **"Upload a pipeline"** Button  and **"search box"** alignment not adequate items stuck in bottom , uneven padding in pipeline.
![Screenshot from 2022-04-02 07-52-50 1](https://user-images.githubusercontent.com/90280586/161362793-fbb3a7b5-8272-4cae-91e6-5e1659af3cc4.png)

[2022-04-02 06:42] ShrutiKoli19 commented on #375
Hey! I would like to work on this issue.

[2022-04-02 07:17] ydv-sahitya commented on #375
@Prakashh21  can you give your email. I want to talk to you something.

[2022-04-02 07:47] Prakashh21 opened #377 "Version and Release date crashing on to one another"
This issue is occurring on **chrome** as well as **firefox** when fully reducing the width of the window , although the there is a slight difference, in **Firefox** it is lot **more squeezed** I have attached the image below !

![photo_2022-04-02_13-14-54](https://user-images.githubusercontent.com/90280586/161372716-9f7cb9f6-185b-47aa-b764-a7e67a529ee9.jpg)

[2022-04-02 07:47] Prakashh21 commented on #377
hey @jennydaman I am currently work on a fix that would fix this issue on all the browsers !

[2022-04-02 08:20] Prakashh21 commented on #375
Hey @ydv-sahitya we can talk on element see you there !!

[2022-04-02 08:23] Prakashh21 commented on #375
Hi @ShrutiKoli19 I've generated a PR for this one , take a look at it..  tell me if you have any feedback.

[2022-04-02 08:43] urviigupta commented on #309
@yaya-usman do let me know if we can collaborate on this issue!

Thanks @jennydaman

[2022-04-02 08:47] urviigupta commented on #300
@jennydaman @mairin Can I contribute to this issue?

[2022-04-02 13:48] yaya-usman commented on #309
Thanks @jennydaman please kindly assign @urviigupta the issue, i am working on other project.  @urviigupta if you need any support, i'll be willing to offer help.

[2022-04-02 15:56] urviigupta commented on #309
Thanks @yaya-usman I will reach out for help if required.
Kindly assign the issue to me @jennydaman

[2022-04-02 21:56] reeshi-18 commented on #352
@mairin  please add some details to the issue so that I can start working on this

[2022-04-03 09:49] archijaiswal opened #378 "Unable to navigate from My Library tab"
Nav bar isn't showing up in the desired way after navigating to My Library tab.

https://user-images.githubusercontent.com/67463253/161421662-8d83dc21-f366-421e-830a-3a84f40b06ca.mp4

[2022-04-03 09:51] archijaiswal commented on #378
Hey @jennydaman,I would like to fix this issue.

[2022-04-03 18:24] reeshi-18 commented on #378
@archijaiswal this might be possibly due to some issues in the phone!

[2022-04-03 19:33] Prakashh21 commented on #378
hey @archijaiswal were you able to recreate this bug on any other mobile device ?

[2022-04-04 15:52] archijaiswal commented on #378
Hey @reeshi-18 & @Prakashh21, thank you for checking this out. Yes, I was able to recretae this bug on other mobile devices (iPhone ,Android) and on different PC with different OS(Linux,Windows) after resizing the size of browser. I'm unable to figure out why is it happening for me. I would appreciate if someone else too try to recreate this bug.

[2022-04-04 15:55] somya51p commented on #307
@mairin @PintoGideon can I work on this issue. Please assign me the same

[2022-04-04 16:09] sherrif10 commented on #270
Hello @rudolphpienaar  is this ticket still available. i would to dive into it probably adding more info on to it would be amazing.

[2022-04-04 17:21] #372 closed

[2022-04-04 17:21] #375 closed

[2022-04-05 17:13] sherrif10 opened #381 "Start A Visit Before Accessing Patient Data."
Hey @jennydaman  @mairin  , am not sure if with in the system we have a functionality of starting a visit, however i feel like a given user to access patient data, it would look more of authentication to first start a visit, when  there is an active visit, then its is direct. currently there is no that functionality, Am willing to have more discussions on it. Thanks.

[2022-04-05 17:49] Prakashh21 commented on #378
Hey @archijaiswal I wasn't able to recreate this, I am using a xiaomi phone(Redmi note 7 pro) I'm attaching the screenshots ,  or using chrome dev tools any more details as to how to go about recreating this ??

![photo_2022-04-05_23-07-31](https://user-images.githubusercontent.com/90280586/161816783-cdb31a3a-e3bc-4f6a-88eb-9006688a3006.jpg)

![Screenshot from 2022-04-05 23-09-52](https://user-ima

[2022-04-05 18:08] #341 closed

[2022-04-05 18:29] ankittt20 commented on #223
Hey @jennydaman can i work on this?

[2022-04-05 18:31] jennydaman commented on #223
This issue has been resolved, though #300 needs to be worked on

[2022-04-05 18:31] #223 closed

[2022-04-05 18:36] jennydaman commented on #300
@anayo-hub you are being assigned as per "first conme, first serve." As @rudolphpienaar mentioned, this issue is a big one and will require a high-degree of involvement --- you'll probably want to work close with me on it and do brainstorming/pair programming together.

@anayo-hub, would you be willing to collaborate with any of @ShivraniAJ, @saabirin, or @imranburki? I think it's good to work tog

[2022-04-05 18:42] jennydaman commented on #267
@arpit-maurya glad to see you're willing to take this up!

The original issue proposed an export to JSON feature. If you would like to take it above-and-beyond, try YAML output instead. Schema: https://github.com/FNNDSC/CHRIS_docs/blob/master/rfcs/2-pipeline_yaml.adoc

I'm sure you'll have questions about the spec, so please message me on Matrix.

[2022-04-05 18:46] mairin commented on #45
@swagatikapanda123 Sorry for the confusion - it seems this one is fixed already so I am going to close the issue.

[2022-04-05 18:46] #45 closed

[2022-04-06 14:18] archijaiswal commented on #378
Glad to inform that the bug seems to resolve by itself. I think this was probably due to the difference in version.(It was automatically loading with version 3.1.3 in my case and 3.1.4 in yours).
Thanks a lot @Prakashh21 :)

[2022-04-06 14:18] #378 closed

[2022-04-06 15:04] PintoGideon opened #383 "Test the library Page"
The library page is in it's initial rewrite. A lot of the features need to be tested.

It would be great to have data points on the following:

1. Check if browsing of the files is convenient and bug free.
2. Check if clicking on 'Read more folders' displays accurate results (Pagination)
3. Check if the loading spinners are displayed correctly
4. List down further improvements that can be made to

[2022-04-06 15:06] PintoGideon commented on #383
Also, the code for the library is here: https://github.com/FNNDSC/ChRIS_ui/tree/master/src/pages/DataLibrary

Improvements and bug fixes to the code are also most welcome.

[2022-04-06 15:15] #377 closed

[2022-04-06 16:51] AryaArunB commented on #383
@PintoGideon I would like to work on this issue.

[2022-04-06 17:02] PintoGideon commented on #383
@AryaArunB  Feel free to post your findings in the comment section so I can create issues over bugs you find and assign dev's to work on it.Thanks for taking this issue up. Looking forward to your suggestions.

[2022-04-07 04:57] Prakashh21 opened #385 "Broken Button "Delete a Pipeline" in the Analysis Catalog Page"
**Steps to Reproduce**

This Bug is Present in the Pipelines section of the "Analysis Catalog" page ,
**You will need have pipelines uploaded to see this bug , If you are running minChris as a backend then you'll not see anything in the Pipelines section , because miniChris doesnot has pipelines preuploaded , to upload pipelines refer this --** https://github.com/FNNDSC/caw#testing

After you have

[2022-04-07 04:58] Prakashh21 commented on #385
I'm on this ! @PintoGideon

[2022-04-07 07:05] jennydaman commented on #352
@reeshi-18 the ChRIS Store, https://chrisstore.co, is a repository of ChRIS plugins. Plugins are added from the ChRIS Store to a ChRIS backend.

The ChRIS_ui displays some information about plugins, but perhaps more information can be shown. See in the ChRIS_uii, in the sidebar click "Analysis Catalog" > "Plugins" and click on any plugin card to expand its details. Please propose and implement a f

[2022-04-07 07:09] jennydaman commented on #352
Here is an easy suggestion: add something to the popup panel along the lines of

[code]

[2022-04-07 07:14] jennydaman commented on #307
@anayo-hub a second apology from me for missing your comment. Though, you are already assigned to #300. How is work going with that? Message me on Matrix if you'd like to chat about these issues...

@somya51p this is partially implemented, however the node size of descendant plugin instances is scaled by the cummulative value of total compute time of itself and its parents, which is not what we wa

[2022-04-07 07:16] jennydaman commented on #270
@sherrif10 this is just a placeholder issue.

Currently, the front-end does not have any unit tests. Are you interested in helping us set up QA? One possible contribution you can make regarding this issue is configuring a testing framework for this project for unit testing and snapshot testing. Chat with me on Matrix if you'd like to discuss.

[2022-04-07 07:16] somya51p commented on #307
@jennydaman Surely, I will have a look into it and let you know the same. Thank you

[2022-04-07 07:42] jennydaman commented on #381
Hi @sherrif10, I'm not understanding you. What is a visit?

Regarding authentication: currently, the _ChRIS_ backend implements a relatively simple permissions model, where user accounts can be created anonymously, and all users can access the PACS. The rationale behind the lack of restrictions is to support open science and data sharing. When _ChRIS_ is deployed on a hospital's internal network,

[2022-04-07 12:04] AryaArunB commented on #383
@PintoGideon  one of the problems that I am facing is I am not able to download the file via using the download option which appears when we click on the three dots. Another issue is that when I click the boxes under the Uploaded Files section the new page doesn't opens rather I would have to click on the name of the file.

[2022-04-07 12:10] AryaArunB commented on #383
I think it's better to preview the image file once we click on the box itself rather than clicking on the preview icon.

[2022-04-07 12:11] PintoGideon commented on #383
Great observations so far @AryaArunB . I will create an issue for that.

[2022-04-07 12:12] PintoGideon commented on #385
@Prakashh21  Thanks for your work on fixing these issues.

[2022-04-07 14:00] AryaArunB commented on #383
@PintoGideon when I open the My Library tab the page automatically scrolls down while this doesn't happen with any other tabs.

[2022-04-07 14:08] PintoGideon commented on #383
Hey @AryaArunB  Are you testing this on https://app.chrisproject.org.

[2022-04-07 14:40] AryaArunB commented on #383
@PintoGideon I was able to upload files on the local copy of the project but I am not able to do the same on https://app.chrisproject.org/

[2022-04-07 14:43] PintoGideon commented on #383
@AryaArunB , Thanks  !!!! I'll quickly fix it :)

[2022-04-07 14:45] Prakashh21 opened #387 "Mobile page Horizontally scrollable , Header overflows"
This is probably the most visually significant bug .. **The mobile page is horizontally scrollable** , **which leads to overflowing of the header text** (i.e version and latest update) also in the end of every page , the mobile page is dragging upwards , **please see the Gif below for demostration** , I have also attached the **screenshots** from my **mobile phone** , please take a look.

![Mobile

[2022-04-07 14:46] Prakashh21 commented on #387
Hey @PintoGideon I will come up with a fix !

[2022-04-07 14:48] PintoGideon commented on #387
Awesome, @Prakashh21  Thanks !!

[2022-04-07 15:04] reeshi-18 commented on #352
do i need to setup chris plugins repo for the same? @jennydaman
I already have chris ui and minichris setup in my local

[2022-04-07 16:23] sherrif10 commented on #381
Thanks @jennydaman

[2022-04-07 16:30] rudolphpienaar commented on #381
I'm not sure you fully understand how ChRIS relates to data? ChRIS is
not an Electronic Health Record. I'm not sure what "a patient comes in
without recording patient data" means.

ChRIS is a platform for collecting, organizing, and
processing/scheduling "data" and "compute". By definition data MUST
exist for ChRIS to interact with it. If a "patient" visits a hospital
but no data is recorded (what

[2022-04-08 17:51] jennydaman commented on #352
Sorry I don't understand, what do you mean by "setup chris plugins repo?"

To work on this issue, running just ChRIS_ui and miniChRIS should be sufficient.

[2022-04-08 17:54] jennydaman commented on #381
@sherrif10 another way to put it is: the data in ChRIS or to be added to ChRIS might come from your laptop, the internet, an MRI machine, ... In the case where it's clinical data, the "patient visit" happened already: it could've happened a minute ago, it could've happened 10 years ago. After data is put into EHR (could be outpatient discharge), it is then added to ChRIS.

[2022-04-08 22:06] aashimawadhwa opened #389 "Adding eye button in the login form"
Adding an eye button to login page just like signup can make logging in convenient for user .

It looks like this-

![Screenshot from 2022-04-09 03-29-10](https://user-images.githubusercontent.com/73706697/162538099-49e1fbd3-ac17-4486-96ee-bdcfe1180fe3.png)

Can we make something like this-

![broooo](https://user-images.githubusercontent.com/73706697/162538109-024436c9-b544-4656-abd2-b25932394de5

[2022-04-09 04:41] #385 closed

[2022-04-09 05:05] AryaArunB opened #390 "The text overflows in the cards of PACS"
<img width="1440" alt="Screenshot 2022-04-09 at 10 34 10 AM" src="https://user-images.githubusercontent.com/60646682/162557209-71b7e1c8-c3a7-47ae-b3f7-b1a90680bb5b.png">
This issue is open feel free to contribute!

[2022-04-09 11:00] archijaiswal commented on #390
Thanks @AryaArunB, I'm on it!

[2022-04-10 09:31] username-copied commented on #389
Hello @aashimawadhwa, I would like to solve this issue. Can you assign it to me?

[2022-04-10 16:48] aashimawadhwa commented on #389
I'm a fellow contributor it can be only assigned by maintainer.

[2022-04-10 17:40] username-copied commented on #389
Okay

[2022-04-11 02:55] sherrif10 commented on #381
ohh yes that sounds awesome.Thanks @jennydaman  for clarification.

[2022-04-11 12:12] aparna-bhatt commented on #390
Hey @archijaiswal are you on it?

[2022-04-11 17:17] archijaiswal commented on #390
Yes @aparna-bhatt, feel free to share your suggestion if you've any. Thanks!

[2022-04-11 17:42] sherrif10 commented on #389
Hello @jennydaman . this issue looks awesome. can  you assign it to me.

[2022-04-12 02:27] jennydaman opened #394 "Source build version and date from CI environment"
During the Outreachy applicants meeting on 2022-04-11 we did a walkthrough of a quick feature: changing a hard-coded string to instead be sourced from an environment variable.

Initial work has been done on the [envver](https://github.com/FNNDSC/ChRIS_ui/tree/envver) branch.

Here are the remaining steps to make this practical:

- [x] have build date be automatically determined at build time
- [x]

[2022-04-12 05:25] Prakashh21 commented on #378
Ya , exactly that was the case ! in 3.1.4 it got fixed , later on I was able recreate this on my local environment , it was on version 3.1.3.

[2022-04-12 10:37] aparna-bhatt commented on #394
Hey @jennydaman I am an outreachy applicant and willing to work on this issue.

[2022-04-12 12:01] aparna-bhatt opened #395 "Login and Singup forms have different alert banners."
## In Login

<img src="https://user-images.githubusercontent.com/86338542/162957629-2cbec411-d4b7-4546-80bf-30a5dfdf73ea.png" width="300" height="400" />

## In Signup
<img src="https://user-images.githubusercontent.com/86338542/162957972-1e3976ba-2eb4-4846-9244-1206bf03c736.png" width="300" height="400" />

[2022-04-12 12:37] aparna-bhatt commented on #395
@jennydaman I have made a pull request . If you find any issue in it please let me know.Thanks!

[2022-04-12 19:34] aparna-bhatt opened #399 "Alert banner"
The alert banner is not responsive.
<img src="https://user-images.githubusercontent.com/86338542/163039334-1ab63937-64e0-45ad-bb9c-ebe08bd4a078.png" width="400" height="400">

[2022-04-14 03:48] AryaArunB opened #402 "Security issue"
When the back button in clicked then we are out of the application but when tried to click forward button on the browser we are automatically logged in. I think we should automatically get logged out once back is pressed. What do you think @PintoGideon , @jennydaman?

https://user-images.githubusercontent.com/60646682/163309919-c0dfff3b-97b4-4e90-abcd-5b3978a9d7ad.mov

[2022-04-14 06:58] Anirudh4583 commented on #267
@arpit-maurya can I assist with this issue in any way, please let me know.

[2022-04-14 07:07] Anirudh4583 commented on #394
@aparna-bhatt are you working on this issue?

[2022-04-14 09:30] Prakashh21 opened #403 "error message , content hidden , in failed to create analysis !"
This issue can be generated in mobile devices !

While creating new analysis in the My Analysis page , failing to create a new analysis , popup message renders inappropriately on mobile devices !

![Untitled drawing (9)](https://user-images.githubusercontent.com/90280586/163356509-3e30a18b-0d41-44c5-a7fe-b3d8ce25aff0.png)

[2022-04-14 09:35] Prakashh21 commented on #403
@PintoGideon  @jennydaman I'm on this ! , this seems like a quick fix , also there are some other brokern components , which are specific to the mobile layout , I will include those fixes as well in the same PR ! I am not opening a separate issue for them , If you have any feedback then please let me know.. thanks !

[2022-04-14 12:33] jennydaman opened #404 "Copy-pastable chrs download command"
[chrs](https://github.com/FNNDSC/chrs) is a command-line client for _ChRIS_. In some cases it is advantageous to use a CLI tool, one example would be for downloading a large number of files. The command [`chrs download`](https://github.com/FNNDSC/chrs/tree/master/chrs#chrs-download-src-dst) is an efficient way to download a large number of files from _ChRIS_. This is a feature request for the "My

[2022-04-14 12:42] jennydaman opened #405 "Update URI while nagivating in My Library"
Clicking into directories in the "My Library" view does not change the URI. Updating the URI on change would be a nice feature to have because then users would be able to share views of subdirectories by copy-pasting from the address bar. Also, users who like to middle-click and open in new tab would be able to middle-click on a directory and have it open in the new tab instead of opening the root

[2022-04-14 12:47] jennydaman commented on #402
There are indeed some issues with the login page: see https://github.com/FNNDSC/ChRIS_ui/pull/320 (this PR was not merged into master).

The user is not "automatically logged in" by clicking forward, the browser is simply restoring the cached webpage from when you clicked back. It's not a security issue.

I just tried this on bankofamerica.com, clicking back doesn't log out out.

Being logged out

[2022-04-14 12:51] jennydaman commented on #395
Fixed in #400

[2022-04-14 12:51] #395 closed

[2022-04-14 13:01] Anirudh4583 commented on #405
Hey @jennydaman, I would like to work on this issue. Can you please assign it to me.

[2022-04-14 13:08] aparna-bhatt commented on #404
Hey @jennydaman I am willing to work on this issue please assign this to me.

[2022-04-14 17:56] #381 closed

[2022-04-16 10:20] aparna-bhatt commented on #394
Yes @Anirudh4583 , do you have any suggestions feel free to discuss.

[2022-04-16 16:51] aparna-bhatt commented on #389
@jennydaman I have made a pull request please see to it.Link to my PR https://github.com/FNNDSC/ChRIS_ui/pull/407

[2022-04-17 07:49] Prakashh21 opened #408 "Required to Re-Authenticate !"
**ISSUE**

while using the chris_ui , if users decide to open some other section of the page in a new tab , they'll be required to Re-Authenticate.

**IDEAL BEHAVIOUR**

once logged in , Re-authentication should not be required.

I have added the Gif of the issue below ! take a look !

![ezgif com-gif-maker (6)](https://user-images.githubusercontent.com/90280586/163692604-1f96c683-3cce-4e94-a1c6-9

[2022-04-17 12:32] ritikalohia commented on #399
@jennydaman, I have resolved this issue. Can I make a PR for it?

[2022-04-17 12:43] ritikalohia commented on #390
@aparna-bhatt , Is anyone working on this issue or not?

[2022-04-17 20:05] Akanksha2403 commented on #389
Hii, can you assign it to me.

[2022-04-18 02:51] aparna-bhatt commented on #399
@ritikalohia this issue has been resolved .You can see other issues.

[2022-04-18 04:43] AryaArunB commented on #408
I think this occurs only when you press control while you click on the sidebar buttons otherwise it works fine.

[2022-04-18 04:55] sullyheart opened #409 "Broken select file tree state"
The folder tree state is broken when a user select multiple folder and and delete the first selected folder/file in the folder view of the create analyses wizard.

Please see the attached Gif.

![Chris](https://user-images.githubusercontent.com/59294785/163756589-a6bead45-a2e3-4f4c-a376-f0cf4f53ae70.gif)

[2022-04-18 05:01] AryaArunB commented on #408
@Prakashh21  I think one way is to make the PrivateRoute in routes.tsx Route. But this is a dumb way as there will be a security flaw the other way is to use cookies imo.

[2022-04-18 05:54] Prakashh21 commented on #408
Hi @AryaArunB I used middle mouse button.

[2022-04-18 07:20] AryaArunB commented on #102
@mairin I have created an account on https://crossbrowsertesting.com/ I am researching a bit. It would help me a ton if i could get the link to the hosted version of the webapp. thanks!

[2022-04-18 07:26] AryaArunB commented on #102
I tried testing this on crossbrowsertesting.com. It's working on chrome but I'm afraid it's not working on internet explorer.
<img width="1440" alt="Screenshot 2022-04-18 at 12 56 00 PM" src="https://user-images.githubusercontent.com/60646682/163772434-3158aed2-c856-4092-a28b-b7f66586a561.png">

[2022-04-18 11:16] ritikalohia commented on #387
@Prakashh21 , Is this issue opened?

[2022-04-18 12:09] Prakashh21 commented on #387
hey @ritikalohia , this issue is opened through I have submitted a PR ! , It is yet to be reviewed..

[2022-04-18 18:05] aparna-bhatt opened #412 "Responsiveness of Dashboard Cards."
The images been displayed on the dashboard are not responsive even in the full desktop site.
### SCREENSHOT
![Screenshot from 2022-04-18 23-29-22](https://user-images.githubusercontent.com/86338542/163852864-5ffe88a2-091c-4b95-983e-8e99ac5c1dcb.png)
The third image get hidden.

[2022-04-18 18:55] Akanksha2403 commented on #412
Hey @aparna-bhatt  I would like to work on this issue. can you assign it to me?

[2022-04-19 07:31] aparna-bhatt commented on #412
Hey @Akanksha2403 I am a fellow contributor and I have opened this issue and solved it.You can solve some other issues.

[2022-04-19 07:31] aparna-bhatt commented on #412
@jennydaman sir can you review my PR #413

[2022-04-19 07:39] aparna-bhatt commented on #390
@archijaiswal are you working on this issue?

[2022-04-19 09:40] archijaiswal commented on #390
Actually, I'm having hard time recreating this bug. In PACS lookup system, the search result is taking a long time and ending up with no result found when I'm searching for the patient "ANON HANNAH CARTER". Will you mind recreating this bug or sharing any result found in PACS Lookup system? Thanks

[2022-04-19 09:47] sullyheart opened #414 "Unused code is flagged by Es-lint."
The purpose of this issue is to clean out the ChRIS-UI of any unneeded variables or code.

[2022-04-19 10:39] AryaArunB commented on #390
just try entering the patient id 7654321

[2022-04-19 11:07] aparna-bhatt commented on #390
@archijaiswal yeah I am also facing the same issue. @AryaArunB  I also tried the patient id 7654321 but still it is taking long to search and ending up with no results.

[2022-04-19 11:57] sullyheart opened #416 "Requiring the use of husky"
Given that ChRIS is an open source project with a large number of contributors with varying levels of knowledge, I believe it is easy to neglect or forget these rules, hence the usage of husky should be encouraged.

[2022-04-19 13:58] #402 closed

[2022-04-19 14:39] #416 closed

[2022-04-19 14:44] AryaArunB commented on #412
Hey @aparna-bhatt I think making a carousel/ collage of these pictures might help in making this responsive. I have tried to make a carousel for the same #391

[2022-04-19 15:17] Prakashh21 opened #418 "search box and button hidden behind the drawer"
**Issue**

This is a design flaw that compromises usability , In the analysis catalog page , on clicking one of the plugins , pipelines or hosts the drawer , pops up across the entire length of the section  and it , overshadows the search box and the button (in the pipelines section ) and hides the plugins behind it , until the user closes that drawer , search bar and button can't be accessed , th

[2022-04-19 15:23] Prakashh21 commented on #418
@mairin do you have any insights on this one..

[2022-04-20 08:29] aparna-bhatt commented on #412
Yeah I think carousel is looking fine .

[2022-04-20 08:29] #412 closed

[2022-04-20 21:41] jennydaman commented on #404
Hey @AryaArunB, did you ask @aparna-bhatt whether they would like to work together with you on this?

I looked at your two commits and left comments in your PR.

[2022-04-20 22:16] jennydaman commented on #389
This is a duplicate of https://github.com/FNNDSC/ChRIS_ui/issues/230 but it hasn't been fixed.

I've assigned the issue to @aashimawadhwa because she is the one who proposed it.

@aparna-bhatt, I am obligated to let @aashimawadhwa attempt a solution for this issue before considering your PR.

@username-copied, @sherrif10, @Akanksha2403, please ask @aashimawadhwa if they're open to working together

[2022-04-21 01:06] #399 closed

[2022-04-21 01:08] jennydaman commented on #408
Duplicate of https://github.com/FNNDSC/ChRIS_ui/issues/287, fixed in https://github.com/FNNDSC/ChRIS_ui/pull/320 but it was never merged successfully into master — we can keep this issue open.

[2022-04-21 01:15] aparna-bhatt commented on #404
Yeah I would like to work on this issue with @AryaArunB .

[2022-04-21 01:17] aparna-bhatt commented on #389
Ok sir ! It would be great to work on this issue together with @aashimawadhwa .

[2022-04-21 01:18] aparna-bhatt commented on #390
@jennydaman can you help us by providing solution to this problem .

[2022-04-21 03:36] AryaArunB commented on #404
Ohk sure @aparna-bhatt let's work together on it.

[2022-04-21 07:19] singhavs opened #424 "Button of 'My Library' is not scaled in different screen resolution"
### Problem

![f695c809-4cf9-4419-9996-712d420a884e](https://user-images.githubusercontent.com/67657066/164396741-1ff907a4-d203-4dc0-b1e1-1d1ce81ad23a.jpg)

[2022-04-21 07:21] asaayushisingh commented on #424
Hey! @PintoGideon Can I work on this issue?

[2022-04-21 15:48] PintoGideon commented on #424
Sure !!

[2022-04-22 09:13] singhavs opened #426 "Button of "My Analyses" responsive error"
### Problem
Button of "My Analyses"  has responsive error at different screen resolution
![fin1](https://user-images.githubusercontent.com/67657066/164675601-00795c03-ade7-49ce-b0a9-940eb9e6b30a.png)

[2022-04-22 11:47] Anirudh4583 opened #429 "A lot of information is being stored in state"
Browsing through folders and files requires the current path and list of nested items, which are currently being stored in context state. The state is updated for every folder click and new paths are pushed on. This can easily create overhead when a lot of folders are opened one after another as the state is not cleared in this case.

**Screenshot**:
![image](https://user-images.githubusercontent.

[2022-04-22 18:20] Prakashh21 commented on #352
@reeshi-18  would you like to collaborate with me on this ?, I had some ideas as to what else we can put on there , in the drawer card.

[2022-04-26 14:28] Sandip117 opened #433 "Display Feed progress in the `My Analysis` page"

[2022-05-01 06:37] jennydaman commented on #390
Heey @aparna-bhatt we're aware of the problem and unfortunately the server broke in an unexpected way, it's going to stay down for a bit.

[2022-05-03 02:09] aparna-bhatt commented on #390
@jennydaman ok .

[2022-05-03 02:40] aparna-bhatt commented on #404
Delete uploaded files command is not working is it because the server is down?

[2022-05-04 14:38] somya51p commented on #352
@jennydaman Nice suggestion, we can add data as a popup or additional card. Can you specify exactly which additional metadata for the installed plugin from the ChRIS store is to be rendered on the ChRIS core UI?

[2022-05-04 14:42] somya51p commented on #371
@ydv-sahitya Are you still working on this issue, want to collaborate?

[2022-05-04 20:39] somya51p commented on #307
@mairin @jennydaman  What actually is output size referred to as over here. Is it the filesize as you have mentioned here [https://github.com/FNNDSC/ChRIS_ui/pull/313#issuecomment-946793542](url)

[2022-05-16 15:20] rudolphpienaar opened #441 "ChRIS_UI analysis table tweaks"

[2022-05-16 15:21] rudolphpienaar opened #442 "ChRIS_UI -- In line text and "help/info" modal toggle"

[2022-05-16 15:21] rudolphpienaar opened #443 "ChRIS UI -- Date ordering?"

[2022-05-16 15:21] rudolphpienaar opened #444 "Compare sub-level search to CUBE API search"

[2022-05-16 15:21] rudolphpienaar opened #445 "ChRIS_UI search SERVICES to given sub level"

[2022-05-16 15:21] rudolphpienaar opened #446 "ChRIS_UI search feeds to given sub-level"

[2022-05-16 15:21] rudolphpienaar opened #447 "ChRIS_UI -- compound "search" over multiple terms"

[2022-05-16 15:22] rudolphpienaar opened #448 "Deploy releease CUBEs to internal BCH and app.chrisproject.org"

[2022-05-19 19:39] rudolphpienaar opened #450 "Merge action in UI"

[2022-05-19 19:39] rudolphpienaar opened #451 "Separate UI process to dynamically update Analysis Table"

[2022-05-19 19:39] rudolphpienaar opened #452 "Add dates to Library cards"

[2022-05-20 22:37] ydv-sahitya commented on #371
hi we can I am still working on it

[2022-05-24 18:50] rudolphpienaar opened #455 "Reset lost password"

[2022-05-24 18:51] rudolphpienaar opened #456 "Sort Library Feed cards on date"

[2022-05-24 18:51] rudolphpienaar opened #457 "Use backend workflows API"

[2022-05-31 15:56] #450 closed

[2022-05-31 15:56] #442 closed

[2022-05-31 16:27] #443 closed

[2022-05-31 16:37] PintoGideon opened #467 "Adopt the design of covidnet.chrisproject.org for the Dicom Viewer"

[2022-06-01 17:40] rudolphpienaar opened #469 "Use word "Pipeline" in UI and not "Workflow""

[2022-06-27 18:12] PintoGideon opened #502 "Dicom Viewer"
If I hit the (i) on the DICOM viewer for tag info:

the viewport seems to jump a bit (the image zooms slightly)
I'm not sure if all the tag info displayed. Somewhat disruptingly, the tags also scroll off the bottom of the page and there is no scrollbar. This means the "whole page" scrolls when you try to see off-page tags

[2022-06-29 12:19] #469 closed

[2022-06-29 12:20] #394 closed

[2022-06-29 13:11] PintoGideon commented on #429
Hey @zrthxn , The browser UI has since been completely written and I have taken the minimum effort solution of clearing the previous state every time the folder path is updated. Using the browser history to keep track of the states lead to a lot of bugs in the previous UI.

[2022-06-29 13:30] #445 closed

[2022-06-29 13:30] #446 closed

[2022-06-29 13:30] #444 closed

[2022-06-29 14:35] PintoGideon opened #506 "Create a library with all the common components to reduce UI's bundle size"

[2022-07-06 16:37] rudolphpienaar opened #517 "ChRIS_UI crashes on pipeline delete"

[2022-07-06 16:53] rudolphpienaar opened #518 "Weird node panel [x] in feed view"

[2022-07-06 17:09] rudolphpienaar opened #519 "Pipeline from Feed Wizard not working"

[2022-07-06 17:17] rudolphpienaar opened #520 "Create new wizard swift browser"

[2022-07-06 17:17] rudolphpienaar opened #521 "Feed viewer file browser needs update"

[2022-07-06 17:18] rudolphpienaar opened #522 "DICOM viewer with info ... tags scroll off and view resizes"

[2022-07-11 17:10] jennydaman opened #528 "File Upload and pl-dircopy sometimes does not work"
https://github.com/FNNDSC/ChRIS_ui/blob/31e1fbfe4060f9546cf328935bf5c3e48e07fdf7/src/components/feed/CreateFeed/utils/createFeed.ts#L81

async function `uploadLocalFiles` is not awaited, race condition with creation of `pl-dircopy` plugin instance creation.

Fix: `await uploadLocalFiles`

[2022-07-11 22:14] rudolphpienaar opened #533 "Add new pipeline from feed node only shows first ten pipelines (no pagination)"

[2022-07-14 09:05] bennaaym opened #543 "Issues Without Proper Description"
Hello folks, I'm new to the ChRIS project and would like to contribute to this repository, but while browsing through the issues, I notice that most of the issues don't have a proper description, making it difficult for new contributors to work on these issues. Also, some of the issues already have open PRs associated with them, but it doesn't show up on the issues page because the PR didn't speci

[2022-07-15 14:32] #533 closed

[2022-07-15 14:32] #518 closed

[2022-07-15 14:32] #517 closed

[2022-07-15 14:33] #447 closed

[2022-07-15 14:33] #433 closed

[2022-07-15 14:33] #441 closed

[2022-07-15 14:35] #9 closed

[2022-07-15 14:37] #33 closed

[2022-07-15 14:46] #37 closed

[2022-07-15 14:46] #353 closed

[2022-07-15 14:46] #100 closed

[2022-07-15 14:47] #389 closed

[2022-07-15 14:54] PintoGideon commented on #543
Hey there @bennaaym , Thanks for raising this issue. Currently, all the issues that are being raised are geared towards a release of the UI coming up shortly. These issues are a product of our internal team conversations and hence lack detailed descriptions. I will list down all the issues with detailed descriptions in a few days. Feel free to familiarize yourself with the codebase and suggest imp

[2022-07-15 15:02] jennydaman commented on #543
Most issues here are informal and for internal tracking purposes.

Issues which we would like for collaborators to help with are either labeled as ["good first issue"](https://github.com/FNNDSC/ChRIS_ui/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22), ["help wanted"](https://github.com/FNNDSC/ChRIS_ui/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22), and/or ["under the "Team-

[2022-07-15 15:13] bennaaym commented on #543
@PintoGideon, @jennydaman thank you all for your feedback. I'll be familiarizing myself with the code base and reach out to you through the matrix community if I need help. Please feel free to close this issue if necessary.

[2022-07-15 19:49] #543 closed, assigned to nobody

[2022-07-19 14:38] rudolphpienaar opened #549 "Incorrect execution times for plugins "total runtime""

[2022-07-19 17:05] rudolphpienaar opened #550 "Large downloads in Library die with no indication of failure"

[2022-07-19 19:38] jennydaman opened #554 "Compute resource selection does not work for FS plugin"
Creating a feed from the "Create New Analysis" wizard: after choosing an FS plugin to run, there is a screen to select a compute environment. Even though the dropdown menu works visually, the compute environment name is not sent with the request, and so I cannot create a FS plugin instance with a specific compute environment from ChRIS_ui.

[2022-07-22 15:41] PintoGideon opened #557 "Single Column View in the Library Page"

[2022-07-22 15:41] PintoGideon opened #558 "Completed Analysis Navigation Fix"

[2022-07-22 15:42] PintoGideon opened #559 "Add a command shift click event in the Library Page"

[2022-07-22 15:42] PintoGideon opened #560 "A modular file browser api for the ChRIS_ui"

[2022-07-22 15:55] PintoGideon opened #561 "Use Cookies in the ChRIS_ui"

[2022-07-29 00:00] PintoGideon opened #563 "Resizing the terminal in the Feed View"
![Screenshot from 2022-07-28 20-00-34](https://user-images.githubusercontent.com/15992276/181656442-c2ac40dd-f4ec-48e6-ba2c-6f2050a9716e.png)

[2022-08-02 16:42] #559 closed

[2022-08-02 16:45] PintoGideon opened #569 "Improve css code quality throughout the web app"

[2022-08-02 19:55] PintoGideon opened #570 "Improve the share feed experience"

[2022-08-02 19:56] PintoGideon opened #571 "Work on the design for the data breadcrumb for the Feed output browser."

[2022-08-09 14:15] PintoGideon opened #574 "Rewrite Feed Output Browser using the File Browser API."
![Screenshot from 2022-08-09 10-16-18](https://user-images.githubusercontent.com/15992276/183672332-2dd8dec6-2e74-4ce2-b76d-df056bc73ed6.png)

[2022-08-09 14:16] PintoGideon commented on #574
![Screenshot from 2022-08-09 10-16-18](https://user-images.githubusercontent.com/15992276/183672332-2dd8dec6-2e74-4ce2-b76d-df056bc73ed6.png)

[2022-08-09 14:18] #574 closed

[2022-08-09 14:50] #561 closed

[2022-08-11 22:30] rudolphpienaar opened #576 "Card tooltips per platform"

[2022-08-11 22:30] rudolphpienaar opened #577 "Shopping cart -- stays persistent?"

[2022-08-11 22:31] rudolphpienaar opened #578 "Feed wizard swift browser to new API"

[2022-08-11 22:31] rudolphpienaar opened #579 "Finished with error UI/X"

[2022-08-11 22:31] rudolphpienaar opened #580 "Delete plugin instance from shared feed as non-original owner"

[2022-08-11 22:31] rudolphpienaar opened #581 "Use the workflows api for the pipelines in the ChRIS_ui"

[2022-08-11 22:31] rudolphpienaar opened #582 "(@chris) Copy data from different user in library"

[2022-08-11 22:31] rudolphpienaar opened #583 "Navigating to correct library card from Feed table"

[2022-08-11 22:33] rudolphpienaar opened #584 "Active state in Feed Table turns off if any nodes have error"
This error is a bit difficult to reproduce and fix. The active state in a feed table is indicated by different background color on each row. It is also indicated by a green color on the status chart at the end of the row. If a node errors out in the feed tree with other active nodes present, the expectation is to still have indicators for the active state in the feed table. However, the UI doesn't

[2022-08-11 22:33] rudolphpienaar opened #585 "Share Feed dialog minor tweaks"

[2022-08-11 22:33] rudolphpienaar opened #586 "renaming experience in feed table for duplicate and/or download"

[2022-08-11 22:34] rudolphpienaar opened #587 "In-feed view browser to new API"

[2022-08-11 22:39] rudolphpienaar opened #588 "Better filtering on Feed Table (not just Analysis, but other columns)"

[2022-08-11 22:45] rudolphpienaar opened #589 "FF/RW / end icons in DICOM viewer are swapped"

[2022-08-12 16:37] rudolphpienaar opened #590 "Navigate to correct library card from feed detail tree view"

[2022-08-12 17:00] rudolphpienaar opened #591 "Unecessary truncation of text in Library cards"

[2022-08-12 17:01] rudolphpienaar commented on #591
![Image](https://user-images.githubusercontent.com/404964/184407838-a26f6116-0227-45d5-beb3-4e525812bcfc.png)

[2022-08-12 17:01] rudolphpienaar commented on #590
![Image](https://user-images.githubusercontent.com/404964/184407964-f7d298c5-3c65-4efe-8070-fb6866b924b7.png)

[2022-08-12 17:02] rudolphpienaar commented on #590
Need to add the shopping cart to this experience?

[2022-08-12 17:22] rudolphpienaar opened #592 "File upload "weirdness" dialog box"

[2022-08-12 17:22] rudolphpienaar commented on #592
If a user fist selects files (i.e. _before_ specifying a "directory" name) behaviour is weird and inconsistent.

[2022-08-12 17:24] rudolphpienaar opened #593 "First upload to an empty upload space is not shown unless refresh"

[2022-08-16 17:08] #571 closed

[2022-08-16 18:01] PintoGideon commented on #587
Pending updates:

1. File Detail Preview fix when selected file changes.

[2022-08-16 20:14] PintoGideon commented on #585
Pressing enter closes the modal
Enter a username and not enter an username
"Save" to "Share"
Change the dialog box because the label looks like a button or the dropdown

[2022-08-17 20:59] #592 closed

[2022-08-17 21:00] PintoGideon commented on #591
I have added a option to switch between column layouts which fixes this issue.

[2022-08-17 21:00] #591 closed

[2022-08-17 21:00] #587 closed

[2022-08-24 13:08] #593 closed

[2022-08-24 13:21] #570 closed

[2022-08-29 12:44] jennydaman opened #619 "Plugin instance parameter selection loading race condition"
priority: low

![screenshot](https://user-images.githubusercontent.com/20404439/187201768-8eaf91a9-5640-4ce5-872c-5a009db14d2d.png)

The response from `api/v1/plugins/N/parameters/` was slow for a stochastic reason. The wizard UI was interactable before the parameters data was loaded, so it said "You cannot more parameters to this plugin" but then a few seconds later, the (required) parameters pop

[2022-08-29 14:00] #589 closed

[2022-08-29 14:01] #586 closed

[2022-08-29 14:17] TateDeVito commented on #569
Hey @PintoGideon - I can take a look at this one if it is still open! Just let me know and I can get working.

[2022-08-29 14:36] PintoGideon commented on #569
Hey @TateDeVito , this would be of great help. You have  full creative control as an when you propose/make changes.

[2022-08-29 20:22] TateDeVito commented on #569
Appreciate it, and will get started! Thanks.

[2022-08-31 17:52] TateDeVito commented on #569
Hey @PintoGideon - going through the CSS now. When you refer to **code quality**, is there anything specific you would like to see get cleaned up? Otherwise I can generally use my judgment to clean up wherever I can.

Thanks!

[2022-08-31 18:41] PintoGideon commented on #569
Hey @TateDeVito,

 The design patterns that come with scss aren't being leveraged well in the codebase. Currently, the css code is either written inline with jsx or the code is being reused.

The big issue that I was planning on tacking with this issue was to move the UI towards responsiveness. Feel free to start according to your judgement for now.

[2022-08-31 18:42] PintoGideon commented on #569
My plan was a bit more laborious for this task. I was planning on going through every scss file or css style and question why it was being used. The codebase is small now to be able to do that before we write more features in. Thoughts/strategies would be appreciated.

[2022-08-31 19:14] PintoGideon opened #620 "Plain text dates are wrong for the study dates"
The plaintext dates in the Pacs QR are incorrect. This could be a bug in cube , but this is speculation at this point from my end and needs to be looked into further

Actual Dates of the patient:

![image](https://user-images.githubusercontent.com/15992276/195356072-9b164998-e994-479b-8539-507aaef75828.png)
![image (1)](https://user-images.githubusercontent.com/15992276/195356117-bba837b1-71dd-45b

[2022-09-07 17:14] #585 closed

[2022-09-08 12:48] PintoGideon opened #623 "ChRIS UI tests"

[2022-09-08 13:35] PintoGideon opened #624 "Upgrading npm packages in the UI"
1. Upgrade react-router-dom as it is not backwards compatible

[2022-09-08 20:40] TateDeVito commented on #569
Hey @PintoGideon !

I just put up a PR for this issue here: https://github.com/FNNDSC/ChRIS_ui/pull/625

I tried to leave some comments in there to give you an idea of how I went about refactoring the stylesheets. Let me know if you want to discuss at all.

Thanks!

[2022-09-09 14:54] TateDeVito commented on #576
Hey @rudolphpienaar! Wanted to check in on this issue and just get a description of what you are looking for.

Appreciate it!

[2022-09-09 15:15] TateDeVito commented on #557
Hey @PintoGideon - was wondering if I could get a description for this issue by chance? Thanks!

[2022-09-09 16:49] PintoGideon commented on #557
Hey @TateDeVito , this issue is fixed :)

[2022-09-09 16:49] #557 closed

[2022-09-09 16:52] PintoGideon opened #628 "Migrating to React Router 6"

[2022-09-12 19:50] PintoGideon commented on #590
Hey there @TateDeVito ,

This issue is a bit more involved but I'll do my best to explain it here. Feel free to reach out for more questions.

When you login into the ChRIS_ui and navigate to the library page,  you'll be able to see all your feeds in the Completed Analyses Tab.

![Screenshot from 2022-09-12 15-48-03](https://user-images.githubusercontent.com/15992276/189742639-8403c002-de0d-437b-8

[2022-09-13 00:12] TateDeVito commented on #590
Ok got it thank you @PintoGideon !

So to clarify, this task is to add a button in the feed view (tree format view) that takes you to the library page of that node you are highlighting.

If this is correct, curious where exactly you want the button? Would that be on the side with the "Add ChildNode" and "Add a Pipeline" buttons? And in the same format I assume?

[2022-09-13 12:48] PintoGideon commented on #590
Yes, add a button to the panel with our buttons. I think there would be scope for redesigning that panel in the future, but the core functionality of being able to achieve is what we are after.

[2022-09-13 13:51] TateDeVito commented on #590
Great. I will try to take a stab at this one. Thanks!

[2022-09-13 15:21] PintoGideon commented on #576
Hey @TateDeVito ,

When you visit the library page, you'll see tooltips describing actions on how to interact with the cards. You can click on the 'x' button to get rid of these tooltips. However, it was reported that these tooltips were not displayed on MacOS (probably safari as the default browser). Also, commands for different machines could look different for example `Ctrl + shift + click` wou

[2022-09-15 16:00] #628 closed

[2022-09-15 16:00] #624 closed

[2022-09-15 16:10] #558 closed

[2022-09-15 16:11] #519 closed

[2022-09-19 14:10] rudolphpienaar opened #636 "Laptop (smaller resolution) feed tree DAG rendering off center"

[2022-09-19 14:12] rudolphpienaar opened #637 "Unified UI/X for compute flows"

[2022-09-19 16:43] psalmuelle commented on #636
can you please give more insights on this issue?

[2022-09-19 16:44] #636 closed

[2022-09-19 16:44] PintoGideon commented on #636
Hey @psalmuelle , This issue has been fixed.

[2022-09-19 16:45] psalmuelle commented on #636
Okay!

[2022-09-19 16:46] psalmuelle commented on #636
Are others still available?

[2022-09-19 16:50] #521 closed

[2022-09-19 16:50] #457 closed

[2022-09-19 16:50] #520 closed

[2022-09-19 16:50] #550 closed

[2022-09-19 16:51] #579 closed

[2022-09-19 16:52] #429 closed

[2022-09-19 16:52] #448 closed

[2022-09-19 16:55] Anirudh4583 commented on #429
Hey @zrthxn @PintoGideon, can you guys take a look at #423.

[2022-09-19 16:57] PintoGideon commented on #429
Hey @Anirudh4583  Have you tested that PR against new updates to that page recently ?

[2022-09-19 16:59] Anirudh4583 commented on #429
Sure, I'll take a look!

[2022-09-19 17:00] #408 closed

[2022-09-19 17:00] #316 closed

[2022-09-19 17:06] #383 closed

[2022-09-19 17:25] #102 closed

[2022-09-19 17:27] PintoGideon commented on #583
Same as issue #590

[2022-09-21 06:39] MdSahil-oss commented on #554
@jennydaman is this issue still exists ?

[2022-09-21 06:45] MdSahil-oss commented on #588
@rudolphpienaar is this an issue ?

[2022-09-26 14:26] psalmuelle commented on #405
Hey @jennydaman , I can get this done. Can you please assign this issue me?

[2022-09-29 14:30] TateDeVito commented on #590
Notes from MOC meeting:
- Use upload file option to populate new nodes
- The **Cancel** button at the end of the "New Analysis" dialog should say **Done**

[2022-09-30 06:10] jennydaman opened #640 "Feed actions pane background color is cut off when you scroll down"
![screenshot](https://user-images.githubusercontent.com/20404439/193202231-81be4623-8022-4bfc-9afe-82fd2bc6a559.png)

[2022-09-30 06:12] jennydaman commented on #554
Sorry for not seeing your message earlier! Ping me on matrix next time if I don't respond.

Yes this issue is still a problem and it would be great if you could take a look at it. I think it should be low-hanging fruit.

[2022-10-04 17:00] lumuchris256 commented on #640
hey @jennydaman  am trying to reproduce the error on the online instance of chris

[2022-10-04 17:03] lumuchris256 commented on #640
![chris](https://user-images.githubusercontent.com/59338693/193881672-5c57dda0-3c8c-41b6-a121-7f0c0d556fcb.png)
need a few pointers to repsoduce

[2022-10-07 12:00] jennydaman commented on #640
@lumuchris256 to reproduce this issue, please resize the viewport so that a scroll bar is necessary for the top-right section.

Note that https://app.chrisproject.org is _not_ running an updated version of ChRIS_ui, rather, it's held back to an older commit for the sake of reliability. Please visit https://next.chrisproject.org instead to see an automatic build of the latest commit of master.

[2022-10-09 15:44] Meldy2503 commented on #640
Hello @jennydaman, I would like to work on this issue, can you please assign it to me, and guide me on what is expected

[2022-10-09 18:29] TomisinAjayi commented on #640
Hi @jennydaman, I am an outreachy applicant and I would like to solve this issue. Thank you!

[2022-10-09 19:06] lumuchris256 commented on #640
i am currently working on this issue

On Sun, Oct 9, 2022 at 9:29 PM Tomisin Ajayi ***@***.***>
wrote:

[2022-10-09 19:12] ciradu2204 commented on #309
@urviigupta, are you still working on this issue? If not, @jennydaman, can I work on it?

[2022-10-09 21:24] Beyond-Logic commented on #426
Hi, Can I be assigned this task. I am an Outreachy Applicant interested in contributing to this ChRIS_ui project
I have seen the feeds page and the Create New Analysis button sure needs a fix from around a screen size of < 769px, which I can be able to do giving my experience with react.

[2022-10-09 22:25] jennydaman commented on #640
Hello everyone,

In general collaboration leads to better results. @lumuchris256 it is up to you if you would like to work together on this issue, I would recommend looking into "pair programming."

[2022-10-09 22:28] jennydaman commented on #309
@urviigupta pair programming is encouraged but if you would rather work independently that is acceptable.

@ciradu2204 if you would like to meet with me one-on-one for help getting started with contributions, message me on Matrix.

[2022-10-09 23:47] Cecilia0109 commented on #405
Hey @jennydaman, is this issue fixed? can I do something to improve it?

[2022-10-09 23:54] Cecilia0109 commented on #569
Hey, @PintoGideon ! I am an outreachy applicant and I would like to solve this issue.
Could you please assign this to me?

[2022-10-10 03:40] codeEmpress1 commented on #563
Hi @PintoGideon, I am Alimot, an outreachy applicant. I will like to work on this issue. Can you please assign it to me?

[2022-10-10 03:42] codeEmpress1 commented on #619
Hi @jennydaman, I am an outreachy applicant. I will like to work on this.

[2022-10-10 03:47] codeEmpress1 commented on #569
Hi @PintoGideon. I am Outreachy applicant. I will like to work on this. I can collaborate with @Cecilia0109 .

[2022-10-10 03:58] codeEmpress1 commented on #307
Hi @somya51p, I will like to know if you're still working on this. If yes, can I collaborate with you? If no @jennydaman, can you please assign it to me? Thank you.

[2022-10-10 04:26] codeEmpress1 commented on #371
Hi @ydv-sahitya @somya51p are you still working on this? I want to look into it. I am open to collaboration.

[2022-10-10 04:27] codeEmpress1 commented on #371
Hi @jennydaman, I have started working on this issue.

[2022-10-10 05:23] Chisomnwa commented on #405
Hello @jennydaman, has this issue been solved? I would love to help with this issue.

Can you assign this issue to me?

I don't also mind collaborating with someone to solve this issue.

I am waiting for your reply. Thank you.

[2022-10-10 07:28] Chizycodes commented on #569
Hi @PintoGideon I am an Outreachy applicant. I will like to work on this with @Cecilia0109  and @codeEmpress1 .

[2022-10-10 07:50] Chizycodes commented on #554
Hi @jennydaman, I am an outreachy applicant and will like to work on this issue.

[2022-10-10 08:03] MdSahil-oss commented on #554
@Chizycodes go ahead and resolve it.

[2022-10-10 08:17] JulianaSau commented on #569
Hi, I'd like to work on this issue too

[2022-10-10 09:46] Beyond-Logic commented on #426
I will be working on this task.

[2022-10-10 09:54] AndroGenius-codes commented on #620
@jennydaman  I'd like to take a look at this issue if you don't mind

[2022-10-10 09:56] qgatssdev opened #645 "No confirmation or rejection for Sign Up in ChRIS store"
<img width="1423" alt="Screenshot 2022-10-10 at 10 52 35 AM" src="https://user-images.githubusercontent.com/79480742/194840267-3258439f-1c3e-41c3-8082-3bec692be50f.png">

On signing up, there's no confirmation modal or toast for successful sign up and unsuccessful sign up.

[2022-10-10 10:14] AndroGenius-codes commented on #645
@jennydaman I'd also be interested in helping @qgatssdev to fix this.

[2022-10-10 12:47] nbarnabee opened #646 "Email validation error when signing up to ChRIS store"
When attempting to sign up to the ChRIS store, I received a validation error message - "This email is already registered." - which appeared for 3ms before page refresh.  I tried again, using a different email address, and received the same message.  I tried a third time, using a random string of characters formatted like an email address (e.g., afoiajosdf@pat.com) and received the same message.

A

[2022-10-10 12:50] nbarnabee commented on #645
I think this may be related to the issue I just posted  - #646  - were you able to successfully sign up?

[2022-10-10 13:22] AndroGenius-codes commented on #645
Yes I was. In order to sign up successfully you'll have to set up the backend. I.e minichris

[2022-10-10 13:31] AndroGenius-codes opened #647 "pac lookup filter ui"
-sign in
-click on pacs query/retrieve
-click on "more options"
- under filters when you click on date the UI is bad.  when you click on the year increment button it moves your cursor to bottom of screen
[screen-capture (1).webm](https://user-images.githubusercontent.com/70571088/194877719-a939c2e2-287a-40cc-aa3a-ee57cbd52133.webm)

[2022-10-10 13:35] AndroGenius-codes commented on #647
@jennydaman @mairin can i take a stab at fixing this

[2022-10-10 13:39] qgatssdev commented on #645
Yes but this wasn't on my localhost, i did this with the hosted site.

[2022-10-10 14:35] AndroGenius-codes commented on #645
Oh i haven't tried that one

[2022-10-10 14:40] codeEmpress1 opened #649 "Hint overflowing in pac look up mobile screen"
<img width="154" alt="Screenshot 2022-10-10 at 17 17 14" src="https://user-images.githubusercontent.com/47438585/194891747-da2ed136-1f5a-4f4e-9e1d-a8e1983f2e70.png">

[2022-10-10 14:41] codeEmpress1 commented on #649
HI @jennydaman @mairin I found this issue and I will like to fix it.

[2022-10-10 14:41] codeEmpress1 commented on #649
I have started working on this

[2022-10-10 14:55] AnishaSingh0118 commented on #640
Hello,
Even I want to put in my efforts to find a solution for this issue.(I am an Outreachy applicant).
Hoping to come up with perfect solution. Can I work even without this issue being assigned to me ?

[2022-10-10 15:04] AnishaSingh0118 commented on #649
If this issue is not resolved yet, Can I work on it ?

[2022-10-10 15:12] AnishaSingh0118 commented on #649
yes we can have good discussion over this issue, firstly let me reproduce it and will come back to you with an idea. :)

[2022-10-10 15:17] AnishaSingh0118 commented on #502
I am an Outreachy applicant .. I would like to put in my efforts to fix this issue, Can I work on it if it's still not resolved ?

[2022-10-10 15:26] NelsonAkonoafua commented on #554
Hi @jennydaman I would also like to work on this issue and see ways on how to improve on it

[2022-10-10 15:28] #403 closed

[2022-10-10 16:04] Chizycodes commented on #554
@NelsonAkonoafua we can work on it together.

[2022-10-10 16:56] mightyFZeus commented on #268
@jennydaman i would like to resolve this issue...kindly assign to me

[2022-10-10 16:57] Quintinus98 commented on #620
Hello @PintoGideon @jennydaman @mairin Can I take up this issue? I am an Outreachy Applicant, I'd like to contribute on this project.

[2022-10-10 17:28] codeEmpress1 commented on #649
@jennydaman I raised a PR for this issue.
@AnishaSingh0118 you can check the PR I raised. You can make a review and make suggestions on how to make it better.

[2022-10-10 17:47] codeEmpress1 commented on #502
@PintoGideon  I tried reproducing this error but I could not find the (i), it will be great if you can share an image.

@AnishaSingh0118  were you able to reproduce the error? If yes, can we work on it together? We can have like a collaborative section where we get to share our screen and discuss a possible solution.

[2022-10-10 17:51] codeEmpress1 commented on #522
@rudolphpienaar can you please explain this issue better, if possible show a screenshot. I will like to work on it. I'm an Outreachy applicant.

[2022-10-10 18:02] AnishaSingh0118 commented on #649
Could you attach some before and after snapshots for better understanding, it would be good for users to look at it and can easily grap it .

[2022-10-10 18:07] AnishaSingh0118 commented on #502
First let me check from my end if still this issue is persistent then we can work on it .

[2022-10-10 18:09] AnishaSingh0118 commented on #502
well I do agree an image would be better to understand the issue properly and where it has been happening exactly. @PintoGideon Kindly provide an image for our better understanding.

[2022-10-10 18:10] codeEmpress1 commented on #649
Ok @AnishaSingh0118 there is a before image in the issue. I will attach an after image here

[2022-10-10 18:24] codeEmpress1 commented on #647
@AndroGenius-codes yes it does.

[2022-10-10 18:27] codeEmpress1 commented on #649
Ok, I will, thank you!

[2022-10-10 18:33] codeEmpress1 commented on #647
![image](https://user-images.githubusercontent.com/47438585/194931145-292e9479-0633-4eff-972e-d5238170206c.png)
The date field overflowing in this image and the other marked issues are what my PR fixed. I will go ahead and unlink this issue from mine. Sorry for the inconvenience. I am however open to collaboration to work with you on this calendar/year issue. Thank you.

[2022-10-10 18:34] AnishaSingh0118 commented on #649
other than that everything looks fine.

[2022-10-10 18:38] ciradu2204 commented on #404
Hi @jennydaman, I am interested in working on this issue. Could you assign it to me?

[2022-10-10 18:50] AndroGenius-codes commented on #647
No problem

[2022-10-10 19:54] Ogalo commented on #418
@jennydaman I am an OutReachy applicant I would like to contribute to this issue? If you don't

[2022-10-10 21:14] PintoGideon opened #652 "CI/CD fix in the UI"

[2022-10-10 21:15] abdelquodr commented on #455
Hello rudolphpienaar, I am new to  opensource and an outreachy applicant, could you please explain the expectations for this issue to be sure if I can tackle it.
Thanks

[2022-10-10 22:24] Quintinus98 commented on #418
@jennydaman I would like to contribute to this issue, I am an Outreachy Applicant

[2022-10-10 22:26] Quintinus98 commented on #371
Hello @codeEmpress1 are you still working on this project? I want to collaborate.

[2022-10-10 22:40] Cecilia0109 commented on #418
I would like to contribute to this issue, I am an Outreachy Applicant @jennydaman

[2022-10-10 23:09] abdelquodr commented on #588
@rudolphpienaar pls assign this issue to me. kindly give an explanation on this issue

[2022-10-10 23:35] jennydaman commented on #268
This feature has been implemented already, thanks for helping to identify a stale issue.

[2022-10-10 23:35] #268 closed

[2022-10-11 00:43] mightyFZeus opened #653 "fix the UI for the date picker in PACS Query/Retrieve"
![Screenshot (94)](https://user-images.githubusercontent.com/67365597/194973191-1b9fb458-7974-4d97-a195-95498289c5c4.png)

[2022-10-11 00:44] mightyFZeus commented on #653
i am working on this issue

[2022-10-11 00:48] mightyFZeus opened #654 "A loader while the "Plugins, Pipelines and Compute" fetches"
working on  this

[2022-10-11 02:16] yaya-mamoudou commented on #646
Hello. I am an outreachy applicant. I wish to work on this issue

[2022-10-11 04:00] codeEmpress1 commented on #371
@Quintinus98 I am done with this issue. I am just waiting for review. We can however collaborate on other issues.

[2022-10-11 05:21] Yekasumah commented on #652
I'm working on this issue

[2022-10-11 05:23] Yekasumah commented on #646
i'm working on this issue.

[2022-10-11 08:06] M0Hassan commented on #569
Hi @PintoGideon, am an outreachy applicant and I would like to collaborate on this issue.

[2022-10-11 08:59] Quintinus98 commented on #371
Okay that would be fine @codeEmpress1. Just let me know when you have something we can collaborate on.

[2022-10-11 09:02] Quintinus98 commented on #646
Hello @nbarnabee are you working on this issue? if not I would like to work on it.

[2022-10-11 09:03] Quintinus98 commented on #404
Hello @jennydaman is this issue still open, I'd like to work on it.

[2022-10-11 09:06] Quintinus98 commented on #319
Hello @jennydaman is this issue still open, can I work on it?
@EUGINELETHAL did you complete this issue?

[2022-10-11 09:23] annicklinca commented on #640
hello @jennydaman
i would like to solve this issue.

[2022-10-11 10:36] nanfuka commented on #623
hi @PintoGideon looks like this ticket has no description, kindly add some more desccription, I would like to take it on

[2022-10-11 10:40] nanfuka commented on #560
@PintoGideon did you mean there is need for an API file where by all calls from the server are made. if so kindly asign it to me

[2022-10-11 10:48] nbarnabee commented on #646
@Quintinus98 I'm not currently working on it, but you might want to coordinate with @Yekasumah

[2022-10-11 10:49] nanfuka commented on #577
HI @rudolphpienaar I would like to work on this issue. can yu assign me to it

[2022-10-11 10:52] Quintinus98 commented on #646
@Yekasumah do you minid if we work on this issue together?

[2022-10-11 10:52] nanfuka commented on #623
am applicant for internship, I would like to take up testing of this system. kindly assign me to this ticket
My way of implementation is to test each component separately

[2022-10-11 11:14] Quintinus98 commented on #619
Hello @jennydaman can i work on this issue?

[2022-10-11 11:18] Quintinus98 commented on #582
@rudolphpienaar can I work on this issue?
Also can you provide more detail on this issue?

[2022-10-11 13:03] Meldy2503 commented on #640
@lumuchris256 hello, do you mind collaborating with me to work on this issue, please

[2022-10-11 13:15] Dev-Comfie commented on #569
Hi @PintoGideon , I am an Outreachy applicant. I will like to collaborate on this issue. I can collaborate with anyone @codeEmpress1 @Chizycodes .

[2022-10-11 15:26] Quintinus98 commented on #404
@jennydaman noted. Will get right into it

[2022-10-11 16:05] nanfuka opened #656 "Inconsistance and Repitition of code in the login page for Chris store and Chris ui"
[the Chris UI](https://app.chrisproject.org/login?then=/) and the [Chris store](https://chrisstore.co/signin) are inconsistent have have different components. Since this is the same component, they should look identical. I this case the Chris ui login page looks more appealing and elaborate hence worth maintaining.

**Preferred Implementation**
In future, my suggestion is that we migrate these app

[2022-10-11 18:03] Yekasumah commented on #646
@Quintinus98 Hi, i don't mind collaborating together

[2022-10-11 18:26] #426 closed

[2022-10-11 20:11] Njong392 opened #659 "Create automatic releases"
I can see that the last time this repo got versioned was in 2021. Maybe we could set up automatic versioning, that gets updated and tracked through conventional commits. Here is a [helpful article](https://www.conventionalcommits.org/en/v1.0.0/) on conventional commits.

If this issue is approved, I would love to be assigned to it.

[2022-10-11 20:33] NelsonAkonoafua commented on #554
Hey Joy. Nice to meet you. I'd like that. we should communicate better so
we know what steps to take. I want to know if you're using ubuntu yet with
the docker we were asked to download

On Mon, 10 Oct 2022 at 21:35, Joy Okwudire ***@***.***> wrote:

[2022-10-11 22:11] jennydaman commented on #659
Hey @Njong392,

We don't use the "Releases" feature of Github for this repository, but you can see that we have an automatic incremental versioning scheme and automatic builds published here: https://github.com/FNNDSC/ChRIS_ui/pkgs/container/chris_ui

For more details: https://github.com/FNNDSC/ChRIS_ui/pull/508

[2022-10-11 22:11] #659 closed

[2022-10-12 00:43] oryxwhite commented on #267
Hello @jennydaman,  I'm an Outreachy intern candidate and was wondering if this would be a good issue to work on for my initial contribution.

[2022-10-12 00:43] Quintinus98 commented on #646
Okay nice @Yekasumah I'll message you on the public chat Matrix

[2022-10-12 01:57] jennydaman commented on #652
Hey @Yekasumah thank you for being interested in this issue. Quality assurance is important.

The build fix in https://github.com/FNNDSC/ChRIS_ui/commit/e56c9871848e44d85d9b750519e86191858703d9 has not been applied to our CI so Cypress fails in CI, please take a look at that.

[2022-10-12 02:09] jennydaman commented on #619
@Quintinus98 please ask @codeEmpress1 if they would like to work together. I strongly encourage working together

[2022-10-12 02:33] #581 closed

[2022-10-12 02:35] #270 closed

[2022-10-12 02:35] Chizycodes opened #661 "Fix feed hint width on mobile screen"
![Screenshot from 2022-10-12 02-54-19](https://user-images.githubusercontent.com/53119290/195235681-4a5ed3d9-3e59-42d4-bb60-11c0951b252e.png)

[2022-10-12 02:35] Chizycodes commented on #661
I'm working on this.

[2022-10-12 02:44] jennydaman opened #662 "Height of tabs in sidebar are scaled with screen height"
Looks good on short screen

![image](https://user-images.githubusercontent.com/20404439/195236883-aac9bdbf-3f1e-4e28-8e3f-aac384136c54.png)

Looks weird on tall screen

![image](https://user-images.githubusercontent.com/20404439/195236795-85836ea2-1146-42ca-88bb-e66f6448274c.png)

Sidebar styling should be adjusted so height of sidebar tabs is reasonable for tall screens.

This is not a Patternfly

[2022-10-12 03:15] Chizycodes commented on #554
Yeah, I'm using Ubuntu. I tried recreating the issue, and I was able to create a feed. The payload sent only contained the dir value. But the feed created had all the details entered, including the compute environment.

![Screenshot from 2022-10-12 04-09-30](https://user-images.githubusercontent.com/53119290/195241271-380bed95-5681-43e5-9a2d-21b37e5dacfd.png)

[2022-10-12 03:19] Chizycodes commented on #662
I will like to work on this @jennydaman

[2022-10-12 03:57] Juliejulz92 commented on #662
@jennydaman I would like to also work on this

[2022-10-12 04:18] jennydaman opened #663 "Test coverage"
Currently, we use Cypress for end-to-end testing and we have no unit tests. Due to code instability, unit testing would not be constructive to do.

I wonder if we can measure the code coverage from our end-to-end tests. https://docs.cypress.io/guides/tooling/code-coverage

See [package.json](https://github.com/FNNDSC/ChRIS_ui/blob/096c02ec31be80b10e7a0ab19fd972de6643dc4a/package.json#L69) and [.gi

[2022-10-12 04:22] nanfuka commented on #663
@jennydaman am interested in this ticket, can i take it on?

[2022-10-12 05:11] jennydaman commented on #307
@codeEmpress1 at your request I have assigned you to  https://github.com/FNNDSC/ChRIS_ui/issues/563, so I will leave this issue unassigned for now.

[2022-10-12 05:12] #649 closed

[2022-10-12 05:13] #371 closed

[2022-10-12 05:36] jennydaman commented on #645
@qgatssdev I have assigned you, it is up to you whether you would like to accept anybody else's help. I strongly encourage collaboration.

There are several problems here. If account creation is unsuccessful, an error message is displayed but then the page immediately refreshes so you don't get to read it.

Ideally, unsuccessful account creation would not refresh the page, and a successful account

[2022-10-12 05:46] Timonwa opened #664 "Page headers in the dashboard do not look the same."
The headers in the Library, New and Existing Analyses(1761), and Plugins, Pipelines and Compute pages look the same as below:
![chris1](https://user-images.githubusercontent.com/63044364/195259280-99229bd8-69cd-45f1-b245-e9b990cc6d0c.png)

Meanwhile, the header in the PACS Query/Retrieve page is different.
![chris2](https://user-images.githubusercontent.com/63044364/195259561-c99bf207-2e7d-4180-be

[2022-10-12 05:49] jennydaman commented on #522
@codeEmpress1 DICOM is a medical imaging file format. You can see some example files in here: https://next.chrisproject.org/feeds/1549, login as the user `chris:chris1234`. In the bottom-left pane, click on any file ending in .dcm, then in the bottom-right pane, click on "Open Image Viewer."

![image](https://user-images.githubusercontent.com/20404439/195260546-31387aa4-f97c-4bd7-8567-ebf322959857

[2022-10-12 05:50] #522 closed

[2022-10-12 05:54] Timonwa opened #665 "Tooltips for page header in the dashboard are not position well"
I would like to work on this while I solve issue #664 as both are related and opened by me.

The tooltips of most of the page headers in the dashboard are positioned relative to the nav bar instead of the header it represents.
![chris1b](https://user-images.githubusercontent.com/63044364/195260416-19a0c6e8-8634-415c-b568-16eb5ce7f529.png)

On the other hand, the tooltip for the New and Existing An

[2022-10-12 05:57] jennydaman commented on #584
Awaiting further clarification on this issue.

I think it was about making a more prominent indication of which feeds contain failed plugin instances in the table view.

https://github.com/FNNDSC/ChRIS_ui/blob/master/src/pages/Feeds/components/FeedListView.tsx
https://www.patternfly.org/v4/components/table

(Looking at Patternfly docs, maybe we want to consider a [data list](https://www.patternfly

[2022-10-12 06:03] jennydaman commented on #455
@abdelquodr please see the related issue in the backend repository: https://github.com/FNNDSC/ChRIS_ultron_backEnd/issues/413

[2022-10-12 06:05] jennydaman commented on #647
@AndroGenius-codes did you have a PR for this? If not, no rush!

[2022-10-12 06:07] jennydaman commented on #502
For information about the DICOM viewer, please see my comment https://github.com/FNNDSC/ChRIS_ui/issues/522#issuecomment-1275623834

Feel free to play around with it, there are bugs galore. If you find any, open an issue describing how to reproduce it.

[2022-10-12 06:16] oryxwhite commented on #307
Hi @jennydaman, I'm from Outreachy and I'm interested in working on this if no one else is assigned right now.

[2022-10-12 08:45] Beyond-Logic commented on #661
@Chizycodes  I have fixed this issues already on https://github.com/FNNDSC/ChRIS_ui/pull/650

[2022-10-12 08:50] Chizycodes commented on #661
Alright.

[2022-10-12 08:50] #661 closed

[2022-10-12 09:01] AndroGenius-codes commented on #647
Yes I already created a pull request. Tagged you to it too

[2022-10-12 10:01] mightyFZeus commented on #663
@jennydaman  i would like to work on this

hi @nanfuka  have you done anything on this? i would like to collaborate on this with you

[2022-10-12 11:57] Dev-Comfie commented on #662
Hi @jennydaman , could you please assign me to this I'll like to work on this bug.

[2022-10-12 13:26] Timonwa commented on #665
Hi @PintoGideon, can I be assigned this?

[2022-10-12 13:26] Timonwa commented on #664
Hi @PintoGideon, can I be assigned this?

[2022-10-12 13:28] PintoGideon commented on #665
@Timonwa  Yes !!

[2022-10-12 13:56] rudolphpienaar commented on #620
This is not a apfdcm bug simply because pfdcm does not touch any date fields or do date processing.

[2022-10-12 14:39] haszankauna commented on #418
Hello @Prakashh21 I am an outreachy applicant and will love to work on this

[2022-10-12 14:39] sirichandana-v opened #668 "plugins and workflow section's search filter"
While searching for a non-existing plugin or pipeline or compute in the search filter the respective section should display a message saying "not found" instead of empty space.

I'm an outreachy applicant and would like to work on this issue. Could you please assign this to me @jennydaman @mairin

![Screenshot (6)](https://user-images.githubusercontent.com/88175932/195370211-df0e46a2-c9cf-4319-96a

[2022-10-12 14:41] haszankauna commented on #646
Hello, @nbarnabee I am an outreachy applicant and will love to work on this

[2022-10-12 15:04] Timonwa commented on #664
Hi @PintoGideon, I am having issues running the frontend part of the app. when I tried npm install, it was giving me errors that it couldn't install due to dependency issues. I then used npm install --legacy-peer-deps, and it finally installed, but now I can't seem to view the app on my browser. it is giving me another webpack error:
Im using windows.
[code]

[2022-10-12 15:09] Timonwa commented on #664
I think the error comes from this line of code in my Dashboard.tsx. Because when I comment it out, the UI shows in my browser, but when I uncomment it again, the error appears.

I do not know what the code does so I don't know if it is wise for me to comment it out.
![Inkedice_screenshot_20221012-160638](https://user-images.githubusercontent.com/63044364/195380059-73c8cb7c-c348-4f2d-aee1-3f777ebd7

[2022-10-12 15:11] Timonwa commented on #665
thank you

[2022-10-12 15:14] codeEmpress1 commented on #619
@Quintinus98 I will like to work with you on the issue, can we have a pair programming section and figure it out together? Let me know your preferred time and I will work with it and create the meeting on my calendar. You can share your email for that. Thanks

[2022-10-12 15:35] sirichandana-v opened #669 "fixing the blank page displayed while creating a new analysis"
In create a new analysis, after expanding a card in the pipelines' section, whenever we select and then deselect the card it gives a blank page.

![Screenshot (13)](https://user-images.githubusercontent.com/88175932/195388995-9c620664-a520-42ec-a212-7bd438e6bc59.png)

![Screenshot (14)](https://user-images.githubusercontent.com/88175932/195389043-2514b69f-4500-4147-a127-16dc8562295f.png)

I would

[2022-10-12 15:48] ademolaomosanya commented on #662
@jennydaman i am just seeing the issue kindly assign me to it so i can start working on it also i am open for collaboration for anyone interested in the issue

[2022-10-12 15:48] ademolaomosanya commented on #662
@jennydaman i am just seeing the issue kindly assign me to it so i can start working on it also i am open for collaboration for anyone interested in the issue

[2022-10-12 16:25] codeEmpress1 commented on #418
@haszankauna @Dev-Comfie @Cecilia0109 @Ogalo @Quintinus98  I raised a PR for this. Reviews and comments are welcome.

[2022-10-12 17:01] PintoGideon commented on #669
@sirichandana-v  Since this was a bug introduced me, I went ahead and fixed it. Could you check on https://next.chrisproject.org if this issue still exists ?

[2022-10-12 17:22] sirichandana-v commented on #669
I checked it in the link u gave and it still does exist

[2022-10-12 17:38] codeEmpress1 commented on #619
@jennydaman I also have the same challenge as in #563 , I could not reproduce the error in development. I however tried it in production and found that the error message is only coming up when all parameters has been selected and the user tries adding another parameter, this I think should be the normal behaviour. However, I will take a deeper look at the constraint controlling this behaviour whic

[2022-10-12 17:47] PintoGideon commented on #669
Could you check in the 20 mins and report back if it still persists? I sent out another fix.

[2022-10-12 17:55] sirichandana-v commented on #669
yeah sure.

[2022-10-12 17:58] codeEmpress1 commented on #554
@Chizycodes was this done in development or production, I need help on how to get analysis to display in development, also I couldn't add new analysis.

[2022-10-12 18:38] NelsonAkonoafua commented on #554
Just downloaded Ubunu actually. I want to install it and get started
tonight. Have just been wondering if to switch or use Ubuntu on a virtual
box. So give me a second so i get my utilities in order. I might want to
see a video of this though. So I know what is actually happening. I am
still kind of new to the project and will appreciate the help. I have only
done some light reading.

On Wed, 12 O

[2022-10-12 19:30] #669 closed

[2022-10-12 19:47] Sandip117 opened #674 "Image viewer is not consistent with images of various resolutions"
When using the image viewer from the feed view, the viewer breaks while rendering images with higher resolutions

[2022-10-12 20:58] Beyond-Logic opened #675 "Text Overflowing out of their Card in Sub Categories of Main Categories - Library Page"
I notice the text are overflowing out of their card in the subcatgories of main categories in the library page.

I will like to fix this issue.

![Library1](https://user-images.githubusercontent.com/29509047/195446419-c8644d46-7152-4125-a9a2-df4a50dadc28.png)

![Library2](https://user-images.githubusercontent.com/29509047/195446444-3926d833-ffab-41de-b918-958e428d4109.png)

[2022-10-12 21:05] PintoGideon commented on #674
Could you please provide screenshots since "breaks" could mean a lot of things  and also steps to reproduce this issue ? Also what are the resolutions of the images you use so that someone can test it using stock images with the same resolution.

[2022-10-12 21:07] #418 closed

[2022-10-12 21:18] Chizycodes commented on #554
@codeEmpress1 It was done in development. What error are you getting?

[2022-10-12 21:19] Chizycodes commented on #554
Alright. @NelsonAkonoafua

[2022-10-12 22:38] codeEmpress1 commented on #554
@Chizycodes  When I login, there is no data displayed for analyses, pipelines, and so on. Every time I try to add analysis. It gets stuck at 80%.

[2022-10-12 23:51] jennydaman commented on #662
@Chizycodes has been assigned, it is up to them whether they would like to collaborate. Please let me know.

[2022-10-13 00:19] qgatssdev commented on #645
Okay! no problem, @nbarnabee  are you still interested in collaborating?

[2022-10-13 00:56] ademolaomosanya commented on #662
@Chizycodes  would you like to collaborate on this task?

[2022-10-13 02:31] Chizycodes commented on #554
Yeah, I encountered a similar issue, it happens when you enter an invalid dir value. I had to upload an image on the library page first. If you're using chris login details, your dir value would be chris/uploads/<folder name> @codeEmpress1

[2022-10-13 02:31] ademolaomosanya opened #677 "Swift Column Layout button in library page doesnt give feedback when clicked"
As a user visiting the library page and the "Swift Column Layout" button doesn't give any feedback when clicked to change the column layout.

I will like to fix this issue.
@jennydaman kindly assign me

![next chrisproject org_library (1)](https://user-images.githubusercontent.com/87182204/195485226-a17be35e-b963-41b9-b864-d44ec03fb882.png)

[2022-10-13 02:35] Chizycodes commented on #662
I don't mind collaborating @ademolaomosanya

[2022-10-13 06:15] codeEmpress1 commented on #554
Thank you @Chizycodes  I have been struggling with this

[2022-10-13 07:18] haszankauna commented on #569
Hello, @PintoGideon  I am outreachy applicant and will love to work on this

[2022-10-13 07:20] haszankauna commented on #53
hello @mairin  has this issue been resolved? will love to work on it.

[2022-10-13 07:22] haszankauna commented on #577
hello @rudolphpienaar can you please give some description of the issue? I am an outreachy applicant and  will love to help

[2022-10-13 07:25] haszankauna commented on #646
hello @Yekasumah Do you mind if I join in collaborating on this project?

[2022-10-13 07:26] haszankauna commented on #663
hello @mightyFZeus and @nanfuka Will love to collaborate with you on this issue.

[2022-10-13 07:27] haszankauna commented on #674
hello @Sandip117  can you please provide a more detailed description and if possible an image that shows the error you're getting

[2022-10-13 07:28] haszankauna commented on #674
Hello @PintoGideon  can I please be assigned to this?

[2022-10-13 08:37] codeEmpress1 commented on #563
I have been able to reproduce the issue, working on it now.

[2022-10-13 08:46] codeEmpress1 commented on #619
@jennydaman I've been able to add analyses, I'm looking into the issue now

[2022-10-13 09:15] Quintinus98 commented on #619
Hello @codeEmpress1 I messaged you on Matrix. We can discuss the issue and and how to go about the solution.

[2022-10-13 10:29] codeEmpress1 opened #679 "Bugs in master branch after pulling"
![image](https://user-images.githubusercontent.com/47438585/195573401-9a8b3335-196d-4994-85cb-4dee459d3a3f.png)

[2022-10-13 11:11] codeEmpress1 opened #683 "Plugin parameter fields allow user to enter the same parameter more than once"
### To reproduce this error
- Click on `New and Existing analyses`
- Select an analyses
- Click on `Add a Child Node`
- Select a plugin and click `next`
- Click `Add more parameters`
- Try add a parameter from the dropdown twice or more

I think the expected behaviour should be adding a parameter only once.

<img width="808" alt="image" src="https://user-images.githubusercontent.com/47438585/19558

[2022-10-13 11:13] codeEmpress1 commented on #619
@Quintinus98 I will check your message, I fixed this issue already, kindly check #682. However I found another issue while fixing it, I opened it in #683, and we can work on it together.

[2022-10-13 11:47] JulianaSau commented on #663
I am also interested in contributing to this issue

[2022-10-13 11:51] JulianaSau opened #685 "Linting and code formatting automation"
I'd like to implement automation of linting and formatting on code using `husky` to create `pre-commit` and `pre-push` hooks to ensure that every developer contributing to this project is able to push code that is clean and bug-free.
This can be achieved using `prettier` and `lint-staged` to fix any syntactic and semantic errors on staged changes.

If this is a feature that would be beneficial to

[2022-10-13 12:33] mightyFZeus opened #686 "pagination ui error"
When there are no records, Pagination section  displays showing (0 - 12 of -1).it hsould be 0-0 0f 0. I would like to work on this

[2022-10-13 12:37] SkyC0der opened #687 "Pagination Bug on UI"
When there are no records displayed, Pagination section still displays showing (0 - 5 of -1). It should display No items available or shouldnt be displayed at all. Image Below. I would like to work on this
![issue](https://user-images.githubusercontent.com/44367769/195597885-092e9f9f-3e7b-4c70-9915-a33254204b17.jpeg)

[2022-10-13 12:40] mightyFZeus opened #688 "add new node " add new parameters" options description"

[2022-10-13 12:50] mightyFZeus commented on #686
![Screenshot (101)](https://user-images.githubusercontent.com/67365597/195600738-f5ca4920-0e2d-4793-82f4-8c800150b640.png)

[2022-10-13 13:29] ademolaomosanya commented on #683
hello,  Would you like to work on this issue together? :-)

[2022-10-13 13:35] ciradu2204 commented on #687
can i work with you on this issue?

[2022-10-13 13:36] ademolaomosanya commented on #677
i would love to work on this and open for collaboration

[2022-10-13 13:56] Sandip117 commented on #674
![image](https://user-images.githubusercontent.com/32147904/195614554-0e2b9dbc-429a-4bc2-924e-2ccfc84b2373.png)
The image that I used above to test has a resolution 1024 X 512

It seems like the image viewer currently can only render images of resolution 256 x 256. Anything higher than that is cropped before being rendered.

[2022-10-13 13:57] mightyFZeus opened #689 "Checkbox selection when creating new analysis"
when creating new analysis and you are selecting a plugin, once you select one, you wont be able to select another one until the previous selected plugin is deselected.

[2022-10-13 14:00] mightyFZeus commented on #686
Ohhh yes we can

[2022-10-13 14:01] SkyC0der commented on #687
Sure. I noticed another Bug in the same "Create A New Analysis" modal page. In No. 3 "Select Plugin". The User should only be able to select one. Could you make the CheckBox Buttons to be Radio Buttons instead. There's an image below
![issue2](https://user-images.githubusercontent.com/44367769/195617986-7e35e8d5-9b2c-4929-899d-063cef04b962.jpeg)

[2022-10-13 14:04] mightyFZeus commented on #689
![Screenshot (102)](https://user-images.githubusercontent.com/67365597/195618304-fa68eec6-26fd-4bd8-a469-82bb6d4bca4c.png)

[2022-10-13 14:12] codeEmpress1 commented on #683
@ademolaomosanya we can work on it together with @Quintinus98

[2022-10-13 14:14] Quintinus98 commented on #683
Okay that's nice

[2022-10-13 14:23] Quintinus98 commented on #683
Let's all communicate on Matrix

[2022-10-13 14:36] nanfuka opened #690 "error message is not visible upon login with invalid credentials"
![Screenshot from 2022-10-17 07-25-23](https://user-images.githubusercontent.com/29108523/196089512-9858cecb-6c78-4bcb-9cdf-ab668af4033d.png)
go to the Chris ui login page, enter invalid username and password, click save. the error message will pop up at the top. The error message is not not visible since its the same color as the rest of the text of the page. it should have the resemblance of the

[2022-10-13 16:07] mightyFZeus commented on #654
#692 closes this issue

@PintoGideon

[2022-10-13 16:09] mightyFZeus commented on #689
@PintoGideon  @jennydaman  please assign this issue to me

[2022-10-13 17:03] ademolaomosanya commented on #683
okay

[2022-10-14 00:17] jennydaman opened #697 "Sef-updating build string does not work on Windows"
It's useful to see in the "Overview" tab when ChRIS_ui was last updated, so we use a bash script to print git information and the date at build-time. The script output gets rendered into the JSX. https://github.com/FNNDSC/ChRIS_ui/pull/508

This script doesn't work on Windows. https://github.com/FNNDSC/ChRIS_ui/issues/664#issuecomment-1276339800 Even though we don't intend to support Windows as a

[2022-10-14 00:18] jennydaman commented on #664
@Timonwa that piece of code only works on Linux or Mac. https://github.com/FNNDSC/ChRIS_ui/issues/697

[2022-10-14 00:37] Quintinus98 commented on #697
@jennydaman I would like to work on this issue. As discussed in the meeting, I'd go ahead and start, since I'm the first to comment on the issue

[2022-10-14 00:47] jennydaman opened #698 "Enforce strict code style to prevent merge conflicts"
Currently, ChRIS_ui uses a permissive canned eslint configuration.

https://github.com/FNNDSC/ChRIS_ui/blob/49193ea8b5a0798c0004ff56ee56a0604d72c706/package.json#L67

The IDE auto-formatters of many contributors will do things like add semicolons, change quotes from single to double, ... making PR diffs hard to read and causing merge conflicts between branches.

This is a feature request for us to

[2022-10-14 01:11] Timonwa commented on #664
Oh. Ok. Thank you. I was worried I did something wrong while installing the project.

[2022-10-14 06:14] jennydaman commented on #300
@Dev-Comfie This issue is pretty old, I think it predates the population of the "Overview" tab with its current filler content. @mairin and I will be working on an "intro video," and once we have that out and uploaded to YouTube, I will create an issue for that intro video to be embedded in the Overview tab.

[2022-10-14 06:15] #300 closed

[2022-10-14 06:16] jennydaman commented on #640
@lumuchris256 how is it going on this issue? Please keep us in the loop. If I don't hear from you in 36 hours, I will re-assign this issue to someone else.

[2022-10-14 06:49] jennydaman commented on #582
@Quintinus98 I don't think this issue is ready to be worked on yet.

Under some circumstances, (either a feed has been shared with you, or your username is "chris") the user is able to see files owned by a different user. Currently the ChRIS_ui "Library" is able to browse a user's own files but not the files of different users.

However, there is a current blocker due to a backend issue: I'm not s

[2022-10-14 06:56] jennydaman commented on #637
@Quintinus98 vague issues lacking context such as these are not suitable for Outreachy applicants to work on.

If you would like some advice on ways to contribute to the ChRIS project, DM me on Matrix — we would appreciate your Python and back-end skills

[2022-10-14 06:57] jennydaman commented on #560
@nanfuka this issue is not suitable for Outreachy applicants. It has to do with improving code quality, it's best for @PintoGideon to work on it himself.

[2022-10-14 07:04] Quintinus98 commented on #582
Okay I understand @jennydaman. I don't think a user should have the ability to see another user's feed and I also think it would not be a good idea.
Unless the other user lists out their feed for public use, it may be considered violation of user data.

There could be a feature allowing users to publicly list one or more of their feed and another to allow users access public feed. What do you thin

[2022-10-14 07:05] Quintinus98 commented on #637
Okay Noted @jennydaman

[2022-10-14 07:09] jennydaman commented on #319
@Quintinus98 as mentioned in https://github.com/FNNDSC/ChRIS_ui/issues/319#issuecomment-949352176 currently `/api/v1/pacsfiles/search/` does not support partial match on the fields `StudyDescription` and `SeriesDescription`.

Maybe we should add that as a backend feature first? https://github.com/FNNDSC/ChRIS_ultron_backEnd/issues/444

[2022-10-14 07:11] Meldy2503 commented on #640
Ok, let me start working on it immediately, I didn't know you approved the
collaboration, thanks for reaching out

On Fri, Oct 14, 2022, 7:17 AM Jennings Zhang ***@***.***>
wrote:

[2022-10-14 07:48] #675 closed

[2022-10-14 08:20] ciradu2204 commented on #697
@jennydaman, can I collaborate with @Quintinus98?

[2022-10-14 09:07] jennydaman opened #701 "Request inefficiency"
Same HTTP GET request is made from the frontend to the backend during initial load of a page, e.g. the feed view page. Performance can be optimized by identifying where these duplicate requests are being made and reusing existing variables, or implementing a HTTP call cache (maybe use service worker proxy?).

![screenshot](https://user-images.githubusercontent.com/20404439/195808173-14970305-b776-

[2022-10-14 09:24] jennydaman commented on #620
@Quintinus98 , please ask @AndroGenius-codes if they would like to work together.

[2022-10-14 09:53] lumuchris256 commented on #640
@jennydaman  unsign me so someone can get to work on it

[2022-10-14 10:05] jennydaman commented on #653
Fixed https://github.com/FNNDSC/ChRIS_ui/pull/657

[2022-10-14 10:05] #653 closed

[2022-10-14 10:06] mightyFZeus commented on #701
I will work on this @jennydaman

[2022-10-14 10:26] jennydaman commented on #267
@oryxwhite this would be a great issue, I have assigned you.

[2022-10-14 12:02] Quintinus98 commented on #620
Hello @AndroGenius-codes would you like to work on this issue together?

[2022-10-14 13:11] mightyFZeus commented on #701
If you want to collaborate on this, do well to reach out please

[2022-10-14 14:47] AndroGenius-codes commented on #620
Sure thing. Sorry I am just seeing this

[2022-10-14 14:54] Meldy2503 commented on #640
@jennydaman , I would love to work on this issue, please can you assign this issue to me

[2022-10-14 17:01] Jolzyfx commented on #645
@qgatssdev I'm interested in collaborating with you to solve this problem

[2022-10-14 17:07] Jolzyfx commented on #663
@jennydaman I'm Interested in taking up this tasks and collaborating with other people , Can I take it on?

[2022-10-14 17:15] Jolzyfx commented on #687
@SkyC0der  I'm Interested in collaborating with you on this project

[2022-10-14 17:20] Jolzyfx commented on #640
@jennydaman I would love to collaborate with on you this issue, please assign it to me

[2022-10-14 17:23] Jolzyfx commented on #646
@nbarnabee I would love to collaborate with on you this issue, please assign it to me

[2022-10-15 05:40] Quintinus98 commented on #620
Okay that's fine.
Let's chat on Matrix

[2022-10-15 06:21] Quintinus98 commented on #697
I'd like to collaborate with you @ciradu2204

[2022-10-15 09:47] Timonwa commented on #690
Hi, @nanfuka can you add a screenshot of the error? and if you are already working on this, can you please indicate?

[2022-10-15 10:23] AndroGenius-codes commented on #620
What's your username

[2022-10-15 18:29] Jem256 commented on #701
Hey @mightyFZeus can I collaborate with you on this issue?

[2022-10-15 20:36] mightyFZeus commented on #701
Yes you can....send me a Dm on matrix @olabisi so we can set up a meeting.

[2022-10-16 02:58] Quintinus98 commented on #620
My username is David Obodo

[2022-10-16 06:56] dipanshuraz commented on #652
Hi I'm an outreachy applicant, I want to work on this @jennydaman Please assign this to me

[2022-10-16 06:58] dipanshuraz commented on #640
Hey @Jolzyfx I'm interested to work on this with you, @jennydaman Please assign this to me.

[2022-10-16 13:21] jennydaman commented on #554
Hey @Chizycodes thanks for taking a look, sorry for my absence. I'll give you some guidance here on how to reproduce the issue.

Most generally, you need to have a FS plugin registered to more than one compute environment. By default, this is not going to exist.

Here are steps to reproduce. The first two steps can be performed manually by hand by going to http://localhost:8000/chris-admin/

1. Ad

[2022-10-16 13:26] #569 closed

[2022-10-16 13:55] jennydaman commented on #577
@nanfuka @haszankauna I've pinged @rudolphpienaar on Matrix asking him for follow-up.

We have several issues like this which were created for tracking purposes, they aren't suitable for the Outreachy contributions phase. Please find issues which have proper descriptions of either a bug or small feature, that are labeled with "good first issue," or create issues yourselves.

[2022-10-16 18:51] thessakranendonk commented on #690
Hi @nanfuka! I'm an Outreachy participant and I looked at the bug. I think I figured out what's causing this to happen. By trying to log in and looking at the issue I also noticed the login button doesn't respond to the enter press. I would like to add that functionality too if that's okay.

[2022-10-16 19:17] AndroGenius-codes opened #706 "Login form error messages not well defined"
login form does not inform users of error when no value is inputted for both username and password

[2022-10-17 02:45] jennydaman commented on #679
https://github.com/FNNDSC/ChRIS_ui/pull/680#issuecomment-1280201308

[2022-10-17 02:45] #679 closed

[2022-10-17 02:51] #664 closed

[2022-10-17 03:35] jennydaman commented on #687
Please create a separate issue for this.

[2022-10-17 03:37] jennydaman commented on #687
Duplicate of #686, @SkyC0der @ciradu2204 @Jolzyfx please carry on the discussion there.

[2022-10-17 03:37] #687 closed

[2022-10-17 03:48] jennydaman commented on #685
Yes this would be useful, related to https://github.com/FNNDSC/ChRIS_ui/issues/698

It is challenging since we would want to merge https://github.com/FNNDSC/ChRIS_ui/pull/700, but in a way without disturbing every other PR. That might entail waiting until after I am able to review everything in one go... Please be in contact with the author of #700 about using hooks, CI, ...